<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <%- include ("partials/head.ejs") %>
    <%- include ("partials/head-bottom-link.ejs") %>

<body class="hold-transition sidebar-mini layout-fixed">
  <%- include ("partials/menu-list.ejs") %>
    <div class="pcoded-main-container">
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1><span class="ml-2">Add Countrys</span></h1>

              </div>

            </div>
          </div>
        </div>
        <!-- <h1>sandip</h1> -->
        <form action="" method="post">
          <div class="col-6">
            <label for="Name">country: <span class="require">*</span></label>
            <input type="text" class="form-control" name="country" id="country" placeholder="Enter country" value="">
          </div>
          <div class="col-12 mt-5">
            <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>


      </div>
    </div>
    <%- include ("partials/footer.ejs") %>
      <!-- Apex Chart -->
      <script src="js/plugins/apexcharts.min.js"></script>
      @<%- include ("partials/footer-bottom-link.ejs") %>
        <!-- custom-chart js -->
        <script src="js/pages/dashboard-main.js"></script>
</body>

</html>
<script>
  $('#tableID').dataTable({
    "lengthChange": true
  }); 
</script>