<!DOCTYPE html>
<html lang="en">
<head>
<%- include ("partial/head.ejs") %>
<%- include ("partial/head-bottom-link.ejs") %>
</head>
<%- include ("partial/menu-list.ejs") %> 
<div class="pcoded-main-container">
    


<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="row">
            <div class="col-lg-12">
                <h1>Employee Details</h1>
                <div id="menu1" style=" height:717px ;overflow: auto;">

                    <form class="form-group-sm" action="/addEmlpoyee" method="post">
                        <div class="form-group">
                            <label for="name">Name:</label>
                          
                            <input type="text" onkeypress="return onlyAlphabets(event,this);" class="form-control"
                                   value="" required="required" id="name" name="name">
                         
                          
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address:</label>
                     
                           
                            <input type="email" class="form-control" required="required" id="email" name="email">
                          
                          
                            
                      

                          
                        </div>
                        <div class="form-group">
                            <label for="DOB">Date of Birth:</label>
                          
                           
                           
                            <input type="date" class="form-control" required="required" id="DOB" name="DOB">
                          

                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>

                            <input type="password" minlength="6" required="required" class="form-control"
                                   id="password" name="password">

                        </div>
                        <div class="form-group">
                            <label for="number">Contact Number:</label>
                          
                            <input type="number" 
                                   class="form-control" required="required" placeholder="e.g. XXXX-XXXXXXX"
                                   id="number" name="number">
                          

                        </div>
                        <div class="form-group">
                            <label for="department">Department:</label>
                           <select class="form-control" id="department" name="department">
                                <option value="N/A">N/A</option>
                                <option value="PHP Developer">PHP Developer</option>
                                <option value="node js  Developer">node js  Developer</option>
                                <option value="html Developer">html Developer</option>
                                <option value="react Developer">react Developer</option>
                                <option value="full stack Developer">full stack Developer</option>
                                <option value="MERN stack Develope">MERN stack Developer</option>
                                <option value="MEAN stack Developer">MEAN stack Developer</option>
                            </select>
                          

                        </div>
                        <!-- <div class="form-group">
                            <label for="skills">Skills:</label><br>
                            <select class="selectpicker" id="skills" name="skills[]" multiple>
                                <option>N/A</option>
                                <option>ROR</option>
                                <option>.NET</option>
                                <option>PHP</option>
                                <option>Python Django (ERP)</option>
                                <option>Mobile Development</option>
                                <option>Big Data Analytics</option>
                                <option>Firmware</option>

                            </select>
                        </div> -->
                        <div class="form-group">
                            <label for="designation">Designation:</label>
                            <select class="form-control" id="designation" name="designation">
                                <option value="N/A">N/A</option>
                                <option value="System Analyst">System Analyst</option>
                                <option value="Accounts Manager">Accounts Manager</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="senior software engineer">senior software engineer</option>
                                <option value="Software Engineer">Software Engineer</option>
                                <option value="Project Lead">Project Lead</option>
                                <option value="Business Analyst">Business Analyst</option>
                                <option value="Human Resource Manager">Human Resource Manager</option>
                                <option value="Software Developer">Software Developer</option>
                                <option value="Quality Analyst">Quality Analyst</option>
                            </select>
                          
                        </div>
                        <input type="hidden" name="_csrf" value="">
                        <button type="button" onclick="history.go(-1);" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-default">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-- [ Main Content ] end -->
<%- include ("partial/footer.ejs") %>
<!-- Apex Chart -->
<script src="js/plugins/apexcharts.min.js"></script>
@<%- include ("partial/footer-bottom-link.ejs") %>
<!-- custom-chart js -->
<script src="js/pages/dashboard-main.js"></script>
</body>

</html>
