<!DOCTYPE html>
<html lang="en">
<head>
<%- include ("partial/head.ejs") %>
<%- include ("partial/head-bottom-link.ejs") %>
</head>
<%- include ("partial/menu-list.ejs") %> 
<div class="pcoded-main-container">
    
</div>
<!-- [ Main Content ] end -->
<%- include ("partial/footer.ejs") %>
<!-- Apex Chart -->
<script src="js/plugins/apexcharts.min.js"></script>
@<%- include ("partial/footer-bottom-link.ejs") %>
<!-- custom-chart js -->
<script src="js/pages/dashboard-main.js"></script>
</body>

</html>
