<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <%- include ("partials/head-bottom-link.ejs") %>
    <link rel="stylesheet" href="css/aman.css"> 
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <%- include ("partials/menu-list.ejs") %> 
<div class="pcoded-main-container">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Add Role</h1>
                </div>
                <div class="card-body">
                    <form method="post" action=""><br>
                        <div class="row">
                            <div class="col-6">
                                <label for="Name"> Role Name: <span class="require">*</span></label>
                                <input type="text" class="form-control" name="role_name" id="username" placeholder="Enter Role Name" value="">
                            </div>
                            <div class="col-6">
                                <label for="Name">Role Description: <span class="require">*</span></label>
                                <input type="text" class="form-control" name="role_description" id="firstname" placeholder="Enter Role Description" value="">       
                            </div>
                            <div class="col-12 mt-5">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- [ Main Content ] end -->
<%- include ("partials/footer.ejs") %>
<!-- Apex Chart -->
<script src="js/plugins/apexcharts.min.js"></script>
@<%- include ("partials/footer-bottom-link.ejs") %>
<!-- custom-chart js -->
<script src="js/pages/dashboard-main.js"></script>
</body>

</html>
