<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<style>
  .error{
    margin-left: 5px;
  }
</style>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar.ejs') %>
            <div class="main-panel">
              <div class="content-wrapper">
                <section class="content">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Add Salary Structure</h3>
                    </div>
                    <div class="card-body">
                      <form method="post" action="" id="salaryStructureForm"><br>
                        <div class="row">
                          <div class="col-4">
                            <label for="Name"> User Name: <span class="require">*</span></label>
                            <select class="form-control test" id="user" name="user_id">
                              <option value="">--Select User--</option>
                              <% if (userData) { %>
                                <% for(var i=0; i < userData.length; i++) { %>
                                  <option value="<%= userData[i]._id %>">

                                    <%= userData[i].firstname %>
                                  </option>
                                  <% } %>

                                    <% } %>

                            </select>
                          </div>
                          <div class="col-4">
                            <label for="Name">Month: <span class="require">*</span></label>
                            <select id='gMonth2' name="month" class="form-control test">
                              <option value='' selected>--Select Month--</option>
                              <option value='1'>Janaury</option>
                              <option value='2'>February</option>
                              <option value='3'>March</option>
                              <option value='4'>April</option>
                              <option value='5'>May</option>
                              <option value='6'>June</option>
                              <option value='7'>July</option>
                              <option value='8'>August</option>
                              <option value='9'>September</option>
                              <option value='10'>October</option>
                              <option value='11'>November</option>
                              <option value='12'>December</option>
                            </select>
                          </div>
                          <div class="col-4">
                            <label for="Name">Year: <span class="require">*</span></label>
                            <select id='gyear' name="year" class="form-control test">
                              <option value='' selected>--Select Year--</option>
                              <option value='2022-2023'>2022-2023</option>
                              <option value='2023-2024'>2023-2024</option>
                              <option value='2024-2025'>2024-2025</option>
                              <option value='2025-2026'>2025-2026</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-4">

                            <label for="Name"> Employee Code: <span class="require">*</span></label>
                            <input type="text" class="form-control text-white bg-dark" disabled name="emp_code" id="emp_code"
                              placeholder="Your Employee Code">
                          </div>
                          <div class="col-4">

                            <label for="Name"> Designation: <span class="require">*</span></label>
                            <input type="text" class="form-control text-white bg-dark" disabled name="designation"
                              id="designation" placeholder="Your Working Day">
                          </div>
                          <div class="col-4">
                            <label for="text"> Date Of Joining: <span class="require">*</span></label>
                            <input type="text" class="form-control text-white bg-dark" disabled name="doj" id="doj"
                              placeholder="Your present Day">
                          </div>
                          <!-- <div class="col-4">
                            <label for="Name"> Absent Day: <span class="require">*</span></label>
                            <input type="Number" class="form-control text-white bg-dark" name="absent_days"
                              id="absent_day" placeholder="Your absent Day">
                          </div> -->
                        </div>
                        <div class="row mt-3">
                          <div class="col-4">
                            <label for="Name"> Pan Number: <span class="require">*</span></label>
                            <input type="text" class="form-control text-white bg-dark" disabled name="pan_number"
                              id="pan_number" placeholder="Your Leave Balance">
                          </div>
                          <div class="col-4">
                            <label for="Name">Bank Name: <span class="require">*</span></label>
                            <input type="text" class="form-control text-white bg-dark" disabled name="bank_name" id="bank_name"
                              placeholder="Enter Gross Salary" value="">
                          </div>
                          <div class="col-4">
                            <label for="Name"> Bank Account Number : <span class="require">*</span></label>
                            <input type="number" class="form-control text-white bg-dark" disabled name="bank_account_no"
                              id="bank_account_no" placeholder="Enter Role Name" value="">
                          </div>
                        </div>
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title"> Salary Particular</h3>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-3"><h4>Total Salary: <span class="text-danger">*</span></h4>
                              </div>
                              <div class="col-3"><h4><input type="number" class="form-control" onchange="getGrossSalary(); getNetSalary();" id="total_salary" name="Total_Salary"></h4></div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>Basic Salary: <span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"><h4><input type="number" onchange="getGrossSalary(); getNetSalary();"   onchange = "getNetSalary()" class="form-control" id="Basic_Salary" name="Basic_Salary" ></h4></div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>House Rent Allow: <span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"><h4><input type="number" id="House_Rent_Allow" onchange="getGrossSalary(); getNetSalary();"  class="form-control" class="form-control" name="House_Rent_Allow"></h4></div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"> <h4>Other Allownces:<span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8">
                                          <h4><input type="number" class="form-control" id="Other_Allownces" onchange="return getGrossSalary()" class="form-control" name="Other_Allownces"></h4></div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>Performance Allownces :<span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"><h4><input type="number" id="Performance_Allownces" onchange="getGrossSalary(); getNetSalary();"  class="form-control"  name="Performance_Allownces">
                                         </h4></div>
                                      </div>
                                    </div>
      
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>Bonus :<span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"> <h4><input type="number" id="Bonus" class="form-control" onchange="getGrossSalary(); getNetSalary();"  class="form-control" name="Bonus"></h4></div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>Other:<span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"> <h4><input type="number" id="Other" class="form-control" onchange="getGrossSalary(); getNetSalary();"  name="Other"></h4></div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-4"><h4>EL Encashments :<span class="text-danger">*</span></h4>
                                        </div>
                                        <div class="col-8"> <h4><input type="number" class="form-control"   onchange="getGrossSalary(); getNetSalary();"  name="EL_Encash_Amount"></h4></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mt-3">
                                  <div class="row">
                                    <div class="col-4"><h4>GROSS SALARY :<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"> <h4><input type="number" id="gross_salary"  class="form-control text-white bg-dark"   name="Gross_Salary"></h4></div>
                                  </div>
                                </div>
                              </div>
                          <div class="col-sm-6">
                            <div class="card" style="height: 83%;">
                              <div class="card-body">
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"><h4>Professional Tax :<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"><h4><input type="number" id="Professional_Tax" class="form-control"  onchange=" getTotalDeduction(); getNetSalary();" name="Professional_Tax"></h4></div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"><h4>Income Tax:<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"><h4><input type="number" class="form-control" id="Income_Tax" onchange="  getTotalDeduction(); getNetSalary();"  name="Income_Tax"></h4></div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"> <h4>Gratuity:<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8">
                                      <h4><input type="number" class="form-control"  onchange="  getTotalDeduction(); getNetSalary();" id="Gratuity" name="Gratuity"></h4></div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"><h4>Provident Fund:<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"><h4><input type="number"  onchange="  getTotalDeduction(); getNetSalary();" id="Provident_Fund" class="form-control" name="Provident_Fund">
                                     </h4></div>
                                  </div>
                                </div>
  
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"><h4>ESIC :<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"> <h4><input type="number"  onchange="  getTotalDeduction(); getNetSalary();" id="ESIC"  class="form-control" name="ESIC"></h4></div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-4"><h4>Other Deduction:<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"> <h4><input type="number"  onchange="  getTotalDeduction(); getNetSalary();" id="Other_Deduction" class="form-control" name="Other_Deduction"></h4></div>
                                  </div>
                                </div>
                                <div class="col-12 mt-3">
                                  <div class="row">
                                    <div class="col-4"><h4>Total Deduction:<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="col-8"> <h4><input type="number" class="form-control text-white bg-dark" id="total_deduction"  name="Total_Deduction"></h4></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 mt-3">
                              <div class="row">
                                <div class="col-4"><h4>Net Salary:<span class="text-danger">*</span></h4>
                                </div>
                                <div class="col-8"> <h4><input type="number" id="Net_Salary" class="form-control text-white bg-dark" name="Net_Salary"></h4></div>
                              </div>
                            </div>
                          </div>
                          </div>
                          </div>
                          </div>
                        <div class="col-12 mt-5">
                          <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
                          <a class="btn btn-danger" href="/roleListing">Back</a>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
              <%- include('partials/footer.ejs') %>
  </body>

</html>
<!-- <script>

  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }




  $(document).ready(function () {
    $('.test').change(function () {
      var month = $('#gMonth2').val();
      var user = $('#user').val();
      var year = $('#gyear').val();
      var input = { user: user, month: month, year: year }

      if (user && month && year !== '') {
        console.log(input)
        callLeaves(input);
      } else {
        // console.log(false);
      }
    })
    function callLeaves(data) {
      $.ajax({
        type: "POST",
        url: "/api/getLeaveBalance",
        data: data,
        dataType: "json",
        success: function (response) {

          var takenLeaves = response.totalTakenLeaves

          $.ajax({
            type: "POST",
            url: "/api/getWorkingDay",
            data: data,
            dataType: "json",
            success: function (response) {

              var holidaysInMonth = response.holidayData.length
              $.ajax({
                type: "POST",
                url: "/api/getDataByUser",
                data: data,
                dataType: "json",
                success: function (response) {
                  // var holidaysInMonth = response.holidayData.length
                  $("#absent_day").html('');

                  let leave = 0;
                  var totaldate = []
                  $.map(response.userLeavesData, function (val, i) {
                    const DF = new Date(val.datefrom)
                    const DT = new Date(val.dateto)
                    const this_month = parseInt(data.month); // match dates in April (4th month)
                    var days_difference = 0;

                    for (let d = DF; d <= DT; d.setDate(d.getDate() + 1)) {
                      if (d.getMonth() + 1 === this_month) {
                        days_difference += 1;
                      }
                    }

                   
                    if (days_difference > 0) {
                      totaldate.push(days_difference);
                    }
                  });
  

                  totaldate.forEach(item => {
                    leave += item;
                  });
                  const this_month = parseInt(data.month)
                  const this_year = parseInt(data.year)

                  const daysInMonth = getDaysInMonth(this_year, this_month);
                  $("#total_day").val(daysInMonth);
                  const sundaysInMonth = getSundaysInMonth(this_year, this_month);


                  $("#absent_day").val(leave);
                  $("#working_day").val(daysInMonth - sundaysInMonth - holidaysInMonth)
                  var presentday = (daysInMonth - sundaysInMonth - holidaysInMonth - leave)
                  $("#present_day").val(presentday)
                  var toltalLeaves = "<%= leaves %>"

                  $("#leave_balance").val(toltalLeaves - takenLeaves);

                },
              });
            }
          })
        }
      })
    }
  });
  function getDaysInMonth(year, month) {
    return new Date(year, month, 0).getDate();
  }
  function getSundaysInMonth(year, month) {
    const date = new Date(year, month - 1, 1);
    const lastDay = new Date(year, month, 0).getDate();
    let count = 0;
    for (let i = 1; i <= lastDay; i++) {
      date.setDate(i);
      if (date.getDay() === 0) {
        count++;
      }
    }
    return count;
  }




</script> -->
<script>
  $(document).ready(function ($) {
  $("#salaryStructureForm").validate({
  rules: {
    user_id: {
      required: true,
    },
    year:{
      required:true
    },
    Basic_Salary: {
      required: true,
    },
    House_Rent_Allow: {
      required: true,
    },
    Other_Allownces: {
      required: true,
    },
    Performance_Allownces: {
      required: true,
    },
    Bonus: {
      required: true,
    },
    Other: {
      required: true,
    },
    EL_Encash_Amount: {
      required: true,
    },
    Professional_Tax: {
      required: true,
    },
    Income_Tax: {
      required: true,
    },
    Gratuity: {
      required: true,
    },
    Provident_Fund: {
      required: true,
    },
    ESIC: {
      required: true,
    },
    Other_Deduction: {
      required: true,
    },

    

  },
  messages: {
    user_id: {
      required: "Please Select User",
    },
    year: {
      required: "Please Select Year",
    },
    Basic_Salary: {
      required: "Please Type User Basic Salary",
    },
    House_Rent_Allow: {
      required: "Please Type User House rent allowance",
    },
    Other_Allownces: {
      required: "Please Type User Other Allownces",
    },
    Performance_Allownces: {
      required: "Please Type User Performance Allownces ",
    },
    Bonus: {
      required: "Please Type User Bonus",
    },
    Other: {
      required: "Please Type User Other",
    },
    EL_Encash_Amount: {
      required: "Please Type User EL Encash Amount",
    },
    Professional_Tax: {
      required: "Please Type User Professional Tax",
    },
    Income_Tax: {
      required: "Please Type User Income Tax",
    },
    Gratuity: {
      required: "Please Type User Gratuity",
    },
    Provident_Fund: {
      required: "Please Type User Provident Fund",
    },
    ESIC: {
      required: "Please Type User ESIC",
    },
    Other_Deduction: {
      required: "Please Type User Other Deduction",
    },

  },

});
});


  $("#user").change(function () {
    var user = $('#user').val()
    // alert(user)
    $.ajax({
      type: "POST",
      url: "/api/getUserData",
      data: { 'user': user },
      dataType: "json",
      success: function (response) {
        console.log(response)
        var emp_code = response.UserData.emp_code;
        var role = response.UserData.roleName;
        var DOJ = response.UserData.doj
        let dateofjoining=new Date(response.UserData.doj) 
        let pan_Number = response.UserData.pan_number
        let bank_name = response.UserData.bank_name
        let bank_account_no = response.UserData.bank_account_no 

          $('#emp_code').val(emp_code)
          $('#designation').val(role)
          $('#doj').val(dateofjoining.toISOString().split('T')[0].split("-").reverse().join("-"))
          $('#pan_number').val(pan_Number)
          $('#bank_name').val(bank_name)
          $('#bank_account_no').val(bank_account_no)

      }
    })
  })
  $("#total_salary").keyup(function () {
  var totalSalary = $('#total_salary').val()
  var Basic_Salary = totalSalary *40 /100
  $('#Basic_Salary').val(Basic_Salary)
var House_Rent_Allow = Basic_Salary/2
$('#House_Rent_Allow').val(Basic_Salary/2)
$('#Other_Allownces').val(Basic_Salary/2)
$('#Performance_Allownces').val(Basic_Salary/2)
  })

  function getGrossSalary() {
    // alert("asda")
    var basicSalary = parseFloat($('#Basic_Salary').val()) || 0;
  var houseRentAllow = parseFloat($('#House_Rent_Allow').val()) || 0;
  var otherAllowances = parseFloat($('#Other_Allownces').val()) || 0;
  var performanceAllow = parseFloat($('#Performance_Allownces').val()) || 0;
  var bonus = parseFloat($('#Bonus').val()) || 0;
  var other = parseFloat($('#Other').val()) || 0;
  var elEncashments = parseFloat($('#EL_Encash_Amount').val()) || 0;

  var totalSalary = basicSalary + houseRentAllow + otherAllowances + performanceAllow + bonus + other + elEncashments;

  $('#gross_salary').val(totalSalary);
}
function getTotalDeduction() {
    // alert("asda")
    var Professional_Tax = parseFloat($('#Professional_Tax').val()) || 0;
  var Income_Tax = parseFloat($('#Income_Tax').val()) || 0;
  var Gratuity = parseFloat($('#Gratuity').val()) || 0;
  var Provident_Fund = parseFloat($('#Provident_Fund').val()) || 0;
  var ESIC = parseFloat($('#ESIC').val()) || 0;
  var Other_Deduction = parseFloat($('#Other_Deduction').val()) || 0;

  var totalDeduction = Professional_Tax + Income_Tax + Gratuity + Provident_Fund + ESIC + Other_Deduction ;
  $('#total_deduction').val(totalDeduction)
}

function getNetSalary (){
  var basicSalary = parseFloat($('#Basic_Salary').val()) || 0;
  var houseRentAllow = parseFloat($('#House_Rent_Allow').val()) || 0;
  var otherAllowances = parseFloat($('#Other_Allownces').val()) || 0;
  var performanceAllow = parseFloat($('#Performance_Allownces').val()) || 0;
  var bonus = parseFloat($('#Bonus').val()) || 0;
  var other = parseFloat($('#Other').val()) || 0;
  var elEncashments = parseFloat($('#EL_Encash_Amount').val()) || 0;

  var totalSalary = basicSalary + houseRentAllow + otherAllowances + performanceAllow + bonus + other + elEncashments;

  var Professional_Tax = parseFloat($('#Professional_Tax').val()) || 0;
  var Income_Tax = parseFloat($('#Income_Tax').val()) || 0;
  var Gratuity = parseFloat($('#Gratuity').val()) || 0;
  var Provident_Fund = parseFloat($('#Provident_Fund').val()) || 0;
  var ESIC = parseFloat($('#ESIC').val()) || 0;
  var Other_Deduction = parseFloat($('#Other_Deduction').val()) || 0;
  var totalDeduction = Professional_Tax + Income_Tax + Gratuity + Provident_Fund + ESIC + Other_Deduction ;
  $('#Net_Salary').val( totalSalary-totalDeduction );
} 


</script>