<% //console.log('month',11) %>"
  <% var todays=new Date(2022,11) %>
    <% console.log(todays.toString()) %>
      <% var month=todays.getMonth() %>
        <% var year=todays.getFullYear() %>
          <% var ld=new Date(year, month + 1, 0); %>
            <% var lastday=ld.getDate() %>
              <% var fd=new Date(year, month); %>
                <% var firstday=fd.getDate() %>



                  <!DOCTYPE html>
                  <html lang="en">
                  <%- include('partials/header.ejs') %>
                    <style>
                      .card {
                        color: #fff;
                      }
                    </style>

                    <body>
                      <div class="container-scroller">
                        <%- include('partials/sidebar.ejs') %>
                          <div class="container-fluid page-body-wrapper">
                            <%- include('partials/navbar.ejs') %>
                              <div class="main-panel">
                                <div class="content-wrapper">
                                  <div class="content-header">
                                    <div class="container-fluid">

                                    </div>
                                  </div>
                                  <section class="content">
                                    <div class="container-fluid" id="wrapper">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card">
                                            <div class="row mb-2">
                                              <div class="col-sm-6">
                                                <h1 class="m-0"><i class="fa-solid fa-virus"></i><span class="ml-2">Time
                                                    Entries</span></h1>
                                              </div>
                                              <div class="col-sm-6">
                                                <select id='gMonth2' style="float:right;">
                                                  <option value='' selected>--Select Month--</option>
                                                  <option value='1'>Janaury</option>
                                                  <option value='2'>February</option>
                                                  <option value='3'>March</option>
                                                  <option value='4'>April</option>
                                                  <option value='5'>May</option>
                                                  <option value='6'>June</option>
                                                  <option value='7'>July</option>
                                                  <option value='8'>August</option>
                                                  <option value='9'>September</option>
                                                  <option value='10'>October</option>
                                                  <option value='11'>November</option>
                                                  <option value='12'>December</option>
                                                </select>
                                                <select id='gyear' style="float:right;">
                                                  <option value='' selected>--Select Year--</option>
                                                  <option value='2022'>2022</option>
                                                  <option value='2023'>2023</option>
                                                  <option value='2024'>2024</option>
                                                  <option value='2025'>2025</option>
                                                </select>
                                              </div>
                                            </div>
                                            <div class="card-body table-responsive" id="wrapper">
                                              <form method="post" id="form">
                                                <table class="table table-bordered" id="myTabsle">
                                                  <thead>
                                                    <tr>
                                            </div>
                                            <th style="color: #fff;">Tasks</th>

                                            <% for(var i=firstday; i <=lastday; i++) { %>
                                              <th style="color: #fff;">
                                                <%= i %> <br>
                                              </th>
                                              <% } %>
                                                </tr>
                                                </thead>
                                                <tbody id="tblEmployee">
                                                  <% //if(Timeentry) { <!-- console.log(timeEntryData) -->
                                                    %>
                                                    <% //for(var j=0; j <=10; j++) { %>
                                                      <tr class="task">
                                                        <td class="taskdata">
                                                          <select class="form-select"  data-style="btn-primary" id="task_id" name="task_id" required><option value>Select Task</option><% if (data) { %><% for(var i=0; i < data.length; i++) { %> <option value= <%= data[i]._id %> <%= data[i]._id.toString()== timeEntryData[0].task_id.toString() ? 'selected' : "" %> ><%= data[i].title %></option><% } %><% }%></select>
                                                          <!-- select data -->
                                                          <%// for(var i=firstday; i <=lastday; i++) { %>

                                                        </td>
                                                        <td style="color: #fff;" class="inputdata">
                                                          <%=timeEntryData[0].hours%>
                                                          <!-- input data -->
                                                        </td>
                                                        <% //} %>
                                                          <% //} %>
                                                      </tr>
                                                      <% for(var l=0; l < timeEntryData.length ; l++) { %>
                                                      <tr class="task">
                                                        <td class="taskdata">
                                                          <select class="form-select"  data-style="btn-primary" id="task_id" name="task_id" required><option value>Select Task</option><% if (data) { %><% for(var i=0; i < data.length; i++) { %> <option value= <%= data[i]._id %> <%= data[i]._id.toString()== timeEntryData[l].task_id.toString() ? 'selected' : "" %> ><%= data[i].title %></option><% } %><% }%></select>
                                                          <!-- select data -->
                                                          <%// for(var i=firstday; i <=lastday; i++) { %>

                                                        </td>
                                                        <td style="color: #fff;" class="inputdata" aria-disabled="true">
                                                          <%=timeEntryData[1].hours %> 
                                                        
                                                        </td>
                                                        <% //} %>
                                                          <%// } %>
                                                      </tr>
                                                     <% } %>
                                                      <%// } %>
                                                        <tr>
                                                          <td>
                                                            total hours
                                                          </td>
                                                          <% for(var i=firstday; i <=lastday; i++) { %>
                                                            <td>
                                                              <input id="mouse-only-number-input" disabled type="number"
                                                                name="number" step="0.5" max="24" min="0" value="">
                                                            </td>
                                          </div>
                                          <% } %>
                                            <% //} %>
                                              </tr>
                                              </tbody>
                                              </table>
                                              <!-- <h1><%= //Timeentry %></h1> -->
                                              <input type="button" name="" class="btn btn-primary ml-3" value="Save">
                                              <button type="submit" name="submit" id="submit"
                                                class="btn btn-success">Submit</button>
                                              <!-- <button type="button" class="btn btn-success" id="submit" name="submit" value="Submit">submit</button> -->
                                              </form>

                                        </div>
                                      </div>
                                    </div>
                                </div>

                              </div>
                              <%- include('partials/footer.ejs') %>
                    </body>

                  </html>

                  <script>
                
                    //  console.log("dad",datas)
                    var hData = [0];
                    var d = new Date(),

                      n = d.getMonth() + 1,

                      y = d.getFullYear();
                    // alert(n)

                    $('#gMonth2 option:eq(' + n + ')').prop('selected', true);

                    $('#gyear option[value="' + y + '"]').prop('selected', true);

                    var hoursData = [];
                    var finalHData = [];
                    var _task;
                    var _hour;
                    var _date;
                    var month;
                    var year;
                    $(function () {
                      //  var hoursData = false;

                      $("#gMonth2").change(function () {
                        month = $(this).val();
                      })
                      $("#gyear").change(function () {
                        year = $(this).val();
                      });
                      month = $('select#gMonth2 option:selected').val();
                      year = $('select#gyear option:selected').val();

                      var templateValue = "<%= timeEntryData[0].user_id %>";
                    console.log('<%=timeEntryData[0].task_id %>');
                    console.log('<%= data[0]._id %>');
console.log('<%= data[0]._id.toString() == timeEntryData[0].task_id.toString() %>')
                      $(".taskdata").click(function (event) {
                        if ($(this).children("input").length > 0)
                          return false;

                        var tdObj = $(this);
                        var preText = tdObj.html('');
                        var inputObj = $('<select class="form-select"  data-style="btn-primary" id="task_id" name="task_id" required><option value="" disabled >Select Task</option><% if (data) { %><% for(var i=0; i < data.length; i++) { %><option value= <%= (data[i]._id.toString() == timeEntryData[0].task_id.toString())?`selected`:""%>><%= data[i].title %></option><% } %><% }%></select>');
                        tdObj.html("");
                        inputObj
                          // .css({ border: "0px", fontSize: "15px" })
                          // .val(preText)
                          .appendTo(tdObj)
                          .trigger("focus")
                          .trigger("select");

                        inputObj.keyup(function (event) {
                          if (13 == event.which) { // press ENTER-key
                            var text = $(this).val();
                            tdObj.html(text);
                          }
                          else if (27 == event.which) {  // press ESC-key
                            tdObj.html(preText);
                          }
                        });


                        inputObj.click(function () {
                          return false;
                        });
                        inputObj.change(function () {
                          // task_id = $(this).parents('.task').find('#task_id').val();
                          // task_id = $(this).closest('#taskdata').find('#task_id').val();
                          // task_id = $(this).val();
                          console.log("task_id", task_id);
                        });

                      });


                      $(".inputdata").click(function (e) {
                        if ($(this).children("input").length > 0)
                          return false
                        var tdObj = $(this);


                        var col = $(this).parent().children().index($(this));
                        var row = $(this).parent().parent().children().index($(this).parent());
                        //  alert('Row: ' + row + ', Column: ' + col);
                        // for(var col = 1; col<31; col++){


                        task_id = $(this).closest('.task').find('#task_id').val();
                        console.log("task_id1", task_id);
                        // }
                        // console.log("month", month);
                        // console.log("year", year);

                        var preText = tdObj.html();

                        var inputObj = $('<input class="mouse-only-number-input hoursData" type="number" data-task_id="' + task_id + '" data-date="' + col + '" name="hours" step="0.5" max="24" min="0" value="">');

                        console.log("inputObj", inputObj[0].name);

                        inputObj
                          .css({ border: "0px", fontSize: "15px" })
                          .val(preText)
                          .appendTo(tdObj)
                          .trigger("focus")
                          .trigger("select");

                        inputObj.keyup(function (event) {
                          if (13 == event.which) { // press ENTER-key
                            var text = $(this).val();
                            tdObj.html(text);
                          }
                          else if (27 == event.which) {  // press ESC-key
                            tdObj.html(preText);
                          }
                        });

                        // $(".inputdata").change(function (e) {
                        // $(".hoursData").change(function (e) {
                        // _hour = $(this).val();
                        // _task = $(this).attr('data-task_id');
                        // _date = $(this).attr('data-date');
                        //  _date=[];
                        //  hours = "hours"+[task]+'-'+[date]
                        //  console.log("_hour",hours)
                        //hoursData = [];
                        // hData[_task] = [];
                        // hData[_task].push({[_date]: _hour});
                        // hData[_task][_date].push({
                        //   [_date]: _hour
                        // });
                        // hoursData.push({"date":_date , "hour":_hour ,"task":_task})

                        //  hoursData[_task][_date] = _hour;

                        //  hoursData[_date] = _hour

                        // });


                        // hoursData.push({"date":_date , "hour":_hour ,"task":_task})
                      })

                      // inputObj.click(function () {

                      //   return false;
                      // });
                    });
                    $("#form").submit(function (e) {

                      var hours = []
                      var dates = []
                      var tasks = []
                      $(".hoursData").each(function () {
                        _hour = $(this).val();
                        _task = $(this).attr('data-task_id');
                        _date = $(this).attr('data-date');
                        //  tasks.push(_task) 
                        //  hours.push(_hour)
                        //  dates.push(_date)
                        //  finalHData[_task]=[];
                        // finalHData[_task] = _hour;
                        // finalHData[_date] = _hour;
                        //  hoursData.push(finalHData);
                        finalHData.push({ "date": _date, "hour": _hour, "task": _task })
                      });

                      //  finalHData[tasks]  =[];
                      //  finalHData[tasks][dates] = hours;
                      //  console.log("data",hoursData)

                      e.preventDefault();
                      console.log("asdasda", finalHData)
                      // e.stopPropogation();
                      // alert(month)
                      $.ajax({
                        type: "POST",
                        url: "http://localhost:44000/newTimeEntry",
                        data: { 'month': month, "year": year, "task": finalHData },
                        // dataType:"json",
                        success: function (response) {
                          console.log("hoursData", finalHData);
                          //  alert("form submitted");
                          //reload_page();
                        }
                      });
                      // console.log("data",data)
                      // })
                    });
                  </script>
                  <!-- custom-chart js -->