<% var todays=new Date() %>
  <% var month=todays.getMonth() %>
    <% var year=todays.getFullYear() %>
      <% var ld=new Date(year, month+1 , 0); %>
        <% var lastday=ld.getDate() %>
          <% var fd=new Date(year, month); %>
            <% var firstday=fd.getDate() %>

              <!DOCTYPE html>
              <html lang="en">
              <%- include('partials/header.ejs') %>

                <body>
                  <div class="container-scroller">
                    <%- include('partials/sidebar.ejs') %>
                      <div class="container-fluid page-body-wrapper">
                        <%- include('partials/navbar.ejs') %>
                          <div class="main-panel">
                            <div class="content-wrapper">
                              <div class="content-header">
                                <div class="container-fluid">

                                </div>
                              </div>
                              <section class="content">
                                <div class="container-fluid" id="wrapper">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="card">
                                        <div class="row mb-2">
                                          <div class="col-sm-6">
                                            <h1 class="m-0"><i class="fa-solid fa-virus"></i><span class="ml-2">Time
                                                Entries</span></h1>
                                            <% //console.log(loggeduserdata)%>
                                              <% if(sess.userData.roleData[0].role_name=="Admin" ){%>
                                                <select id='user' style="float:right;" onchange="getMonthYear()">
                                                  <option>Select User</option>
                                                  <% if (userData) { %>
                                                    <% for(var i=0; i < userData.length; i++) { %>

                                                      <option value="<%= userData[i]._id %>"
                                                        <%=userData[i]._id==loggeduserdata._id.toString() ? 'Selected'
                                                        : '' %> >
                                                        <%= userData[i].firstname %>
                                                      </option>
                                                      <% } %>
                                                        <% }%>
                                                </select>
                                                <% } %>
                                          </div>

                                          <div class="col-sm-6">
                                            <select id='gMonth2' style="float:right;" onchange="getMonthYear()">
                                              <option value='' selected>--Select Month--</option>
                                              <option value='1'>Janaury</option>
                                              <option value='2'>February</option>
                                              <option value='3'>March</option>
                                              <option value='4'>April</option>
                                              <option value='5'>May</option>
                                              <option value='6'>June</option>
                                              <option value='7'>July</option>
                                              <option value='8'>August</option>
                                              <option value='9'>September</option>
                                              <option value='10'>October</option>
                                              <option value='11'>November</option>
                                              <option value='12'>December</option>
                                            </select>
                                            <select id='gyear' style="float:right;" onchange="getMonthYear()">
                                              <option value='' selected>--Select Year--</option>
                                              <option value='2022'>2022</option>
                                              <option value='2023'>2023</option>
                                              <option value='2024'>2024</option>
                                              <option value='2025'>2025</option>
                                            </select>

                                          </div>
                                        </div>
                                        <div class="card-body table-responsive" id="wrapper">
                                          <form method="post" id="form">
                                            <table border="1" cellpadding="10">
                                              <thead>

                                                <tr>
                                                  <th width="">Project / Task</th>
                                                  <% for(i=1; i <=lastday; i++){ %>
                                                    <th width="2%">
                                                      <%= i %>
                                                    </th>
                                                    <% } %>
                                                </tr>
                                              </thead>
                                              <tbody>

                                              </tbody>


                                            </table>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
                </body>

              </html>

              <script>
                var api_url = "<%= process.env.BASE_URL %>";
                // alert(api_url)
                var this_month;
                $("#gMonth2").change(function () {
                  change_month = $(this).val();
                })
                $("#gyear").change(function () {
                  year = $(this).val();
                })
                var user = '<%-loggeduserdata._id %>'
                // alert(change_month)
                var d = new Date(),
                  this_month = d.getMonth() + 1,
                  year = d.getFullYear();

                $('#gMonth2 option:eq(' + this_month + ')').prop('selected', true);

                $('#gyear option[value="' + year + '"]').prop('selected', true);


                function openModal(modal_id) {
                  //$('.confirm-delete').addClass('hide');
                  $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
                  $('#myModal_' + modal_id).modal('show');
                }
                var Updatestatus;
                var Deletestatus;
                var updatecondition = '';
                var deletecondition = '';
                $(document).ready(function () {
                  $.ajax({
                    type: "post",
                    url: api_url + "/api/NewTimeEntryListing/",
                    data: { 'month': this_month, 'year': year, 'user': user },
                    dataType: "json",
                    success: function (response) {
                      // console.log(response)
                      // $("#task").html('');

                      // Assuming that the response is stored in a variable called responseData

                      // Iterate through the response data and create a row for each task
                      var rowsHtml = '';
                      response.timeEntryData.forEach(function (project) {
                        console.log(project)
                        Object.entries(project).forEach(function ([projectName, taskObject]) {
                          Object.entries(taskObject).forEach(function ([taskName, v1]) {
                            var taskHtml = '';
                            for (var j = 1; j <= 31; j++) {
                              var dayHtml = '';
                              Object.entries(v1).forEach(function ([d, dayObject]) {
                                if (v1[d][`${j}`] && v1[d][`${j}`]._day == j) {
                                  dayHtml += v1[d][`${j}`].h;
                                }
                              });
                              taskHtml += '<td>' + dayHtml + '</td>';
                            }
                            rowsHtml += '<tr><td>' + projectName + '/' + taskName + '</td>' + taskHtml + '</tr>';
                          });
                        });
                      });

                      // Replace the placeholders in the HTML table with the generated rows
                      $('tbody').html(rowsHtml);


                    }

                  })
                })

                function getMonthYear() {
                  const thisyear = $('#gyear').val()
                  const thismonth = $("#gMonth2").val()
                  const user = $('#user').val()
                  var rolename = "<%= sess.userData.roleData[0].role_name %>"
               if(rolename == "Admin"){
                    $.ajax({
                      type: "POST",
                      url: api_url + "/api/NewTimeEntryListing/",
                      data: { 'month': thismonth, 'year': thisyear, 'user': user },
                      dataType: "json",
                      success: function (response) {
                        var rowsHtml = '';
                        response.timeEntryData.forEach(function (project) {
                          console.log(project)
                          Object.entries(project).forEach(function ([projectName, taskObject]) {
                            Object.entries(taskObject).forEach(function ([taskName, v1]) {
                              var taskHtml = '';
                              for (var j = 1; j <= 31; j++) {
                                var dayHtml = '';
                                Object.entries(v1).forEach(function ([d, dayObject]) {
                                  if (v1[d][`${j}`] && v1[d][`${j}`]._day == j) {
                                    dayHtml += v1[d][`${j}`].h;
                                  }
                                });
                                taskHtml += '<td>' + dayHtml + '</td>';
                              }
                              rowsHtml += '<tr><td>' + projectName + '/' + taskName + '</td>' + taskHtml + '</tr>';
                            });
                          });
                        });
                        $('tbody').html(rowsHtml);


                      }
                    })
                  }else{
                    const thisyear = $('#gyear').val()
                  const thismonth = $("#gMonth2").val()
                  var user_id = '<%-loggeduserdata._id %>'

                    $.ajax({
                      type: "POST",
                      url: api_url + "/api/NewTimeEntryListing/",
                      data: { 'month': thismonth, 'year': thisyear,user:user_id },
                      dataType: "json",
                      success: function (response) {
                        var rowsHtml = '';
                        response.timeEntryData.forEach(function (project) {
                          console.log(project)
                          Object.entries(project).forEach(function ([projectName, taskObject]) {
                            Object.entries(taskObject).forEach(function ([taskName, v1]) {
                              var taskHtml = '';
                              for (var j = 1; j <= 31; j++) {
                                var dayHtml = '';
                                Object.entries(v1).forEach(function ([d, dayObject]) {
                                  if (v1[d][`${j}`] && v1[d][`${j}`]._day == j) {
                                    dayHtml += v1[d][`${j}`].h;
                                  }
                                });
                                taskHtml += '<td>' + dayHtml + '</td>';
                              }
                              rowsHtml += '<tr><td>' + projectName + '/' + taskName + '</td>' + taskHtml + '</tr>';
                            });
                          });
                        });
                        $('tbody').html(rowsHtml);


                      }
                    })
                  }
                  }
               

              </script>