<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
    <style>
    .card{
        color: #fff;}
    </style>
   <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" /> -->
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Time Entry</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action=""><br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="Name"> Projects: <span class="require">*</span></label>
                                    <select class="form-control" id="project" name="project_id" required>
                                        <option value="">Select Project</option>
                                        <% if (projectData) { %>
                                            <% for(var i=0; i < projectData.length; i++) { %>
                                                <option value="<%= projectData[i]._id %>">
                                                    <%= projectData[i].title %>
                                                </option>
                                                <% } %>
                                                    <% } %>
                                    </select>

                                </div>
                                <div class="col-6">
                                    <label for="Name">Tasks: <span class="require">*</span></label>
                                    <select class="form-control" id="task_id" name="task_id" required>
                                        <option value="">Select Task</option>

                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="Name">Hours: <span class="require">*</span></label>
                                    <input type="number" class="form-control" step="0.5" onKeyPress="if(this.value.length==2) return false;" id="quantity" name="hours" min="0" max="24">
                                </div>

                                <div class="col-6">
                                    <label for="Name">Date: <span class="require">*</span></label>
                                    <div class="" id="example2">
                                       
                                          <input type="text" name="date"  autocomplete="off" class="form-control"  >
                                      
                                      </div>
                                </div>
                               
                                <div class="col-12 mt-5">
                                    <button type="submit" name="submit" id="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a class="btn btn-danger" href="/holidayListing">Back</a>
                                </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
          <%- include('partials/footer.ejs') %>
          <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
  </body>
</html> 
        <!-- custom-chart js -->
        <script>
          
                $('#example2').calendar({
                type: 'date'
                })
        </script>
        <script>
            var api_url = "<%= process.env.BASE_URL %>";
            $(document).ready(function () {
                $("#project").on("change", function () {
                    var selectedValue = this.value;
                    $.ajax({
                        type: "POST",
                        url: api_url+"/getTaskByProject/" + selectedValue,
                        data: { 'projectID': selectedValue },
                        dataType: "json",
                        success: function (response) {
                            $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
                            $.map(response.tasks, function (val, i) {
                                // Do something
                                $("#task_id").append('<option value="' + val._id + '"> ' + val.title + ' </option>');
                            });
                        }
                    });
                });
            });
        </script>

