<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <%- include ("partials/head-bottom-link.ejs") %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("partials/menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Edit Holiday</h1>
                                <% let yourHolidayDate=new Date(holidayData.holiday_date) %>
                            </div>
                            <div class="card-body">
                                <form method="post" action=""><br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="Name"> Holiday Name: <span class="require">*</span></label>
                                            <input type="text" class="form-control" name="holiday_name" id="username"
                                                placeholder="Enter Holiday Name" value="<%= holidayData.holiday_name %>"
                                                onKeyPress="return ValidateAlpha(event);" required
                                                oninvalid="this.setCustomValidity('Enter Holiday Name Here')"
                                                oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-6">
                                            <label for="Name">Date: <span class="require">*</span></label>
                                            <input type="date" class="form-control" required
                                                oninvalid="this.setCustomValidity('Enter Holiday Date Here')"
                                                oninput="this.setCustomValidity('')" name="holiday_date"
                                                id="holiday_date" placeholder="Enter the firstname"
                                                value="<%= yourHolidayDate.toISOString().split('T')[0]%>">
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button type="submit" name="submit" id="submit"
                                                class="btn btn-primary">Submit</button>
                                            <a class="btn btn-danger" href="/holidayListing">Back</a>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <%- include ("partials/footer.ejs") %>
                <%- include ("partials/footer-bottom-link.ejs") %>
                    <script src="js/pages/dashboard-main.js"></script>
</body>

</html>