<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        
            <link rel="stylesheet" href="css/aman.css">
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->
<script>
    var typeValue = "<%= settingData.type%>";
    // alert(typeValue)
</script>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Edit Settings</h1>
                            </div>
                            <div class="card-body">
                                <form method="post" action=""><br>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="Name"> Key: <span class="require">*</span></label>
                                            <input type="text" class="form-control" name="key" id="username"
                                                placeholder="Enter Setting Name" value="<%=settingData.key%>" required onKeyPress="return ValidateAlpha(event);"  oninvalid="this.setCustomValidity('Enter Role Name Here')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-4">
                                            <label for="Name">Type: <span class="require">*</span></label>
                                            <!-- <input type="text" class="form-control" name="type"
                                                id="firstname" placeholder="Enter Setting Type" value=""> -->
                                                
                                                <select class="form-control" id="type" name="type" >
                                                    <option value="">Select Type</option>
                                                    <option id="text" value="text" <%= (settingData.type == 'text') ? 'selected=selected' : ''; %>>text</option>
                                                    <option id="images" value="image" <%= (settingData.type == 'image') ? 'selected=selected' : ''; %>>image</option>
                                                </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="Name">Value: <span class="require">*</span></label>
                                            <% if (settingData.type == 'text'){ %>
                                            <input type="text" class="form-control" name="value"
                                                id="value" placeholder="Enter Setting Value " value="<%=settingData.value%>" required >
                                                <% }else if(settingData.type == 'image'){ %>
                                                    <img src="/public/images/<%=settingData.value%>" class="img-responsive" height="100px" width="100px" />
                                                    <input type="file" name="value" id="value" placeholder="Select Image File" class="form-control" value="<%=settingData.value%>" >
                                                <% } %>
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button type="submit" name="submit" id="submit"
                                                class="btn btn-primary">Submit</button>
                                                <a class="btn btn-danger" href="/settingListing">Back</a>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- [ Main Content ] end -->
            <%- include ("partials/footer.ejs") %>
                <!-- Apex Chart -->
            
               
                    <!-- custom-chart js -->
                    
</body>

</html>

<script>
    $('select').on('change', function() {
        if(this.value=="text"){
            $('#value').attr('type', 'text');
        }
        if(this.value=="image"){
            $('#value').attr('type', 'file');
        }


});
</script>