<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <style>
    .card{
        color: #fff;}
    </style>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"> Edit Time Entries</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" id="timeEntryForm"><br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="Name"> Projects: <span class="require">*</span></label>
                                    <select class="form-control" id="project" name="project_id" required>
                                        <option value="">Select Project</option>
                                        <% if(sess.userData.roleData[0].role_name=="Admin") { %>
                                                                        
                                          <% for(var i=0; i < adminProjectData.length; i++) { %>
                                              <%console.log("data",adminProjectData)%>
                                             <% if(adminProjectData[i]._id.includes(timeEntryData.project_id)){%>
                                                  <% isSelected='selected' %>
                                                      <% }else{ %>
                                                          <% isSelected='' %>
                                                              <% } %>
                                              <option value="<%= adminProjectData[i]._id %>" <%=isSelected %>>
                                                  <%= adminProjectData[i].title %> 
                                              </option>
                                              <%}%>
                                                  <% } else { %>
                                                        <% for(var i=0; i < projectData.length; i++) { %>
                                                            <%
                                                                if(projectData[i]._id.toString().includes(timeEntryData.project_id)){%>
                                                                <% isSelected='selected' %>
                                                                    <% }else{ %>
                                                                        <% isSelected='' %>
                                                                            <% } %>
    
                                                                                <option value="<%= projectData[i]._id %>"
                                                                                    <%=isSelected %> >
                                                                                    <%= projectData[i].title %>
                                                                                </option>
                                                                                <% } %>
                                                                                    <% } %>
                                    </select>

                                </div>
                                <div class="col-6">
                                    <label for="Name">Tasks: <span class="require">*</span></label>
                                    <select class="form-control" id="task_id" name="task_id" required>
                                        <option value="">Select Task</option>
                                   
                                                                   
                                                                  

                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="Name">Hours: <span class="require">*</span></label>
                                    <input type="number" class="form-control" step="0.5" onKeyPress="if(this.value.length==2) return false;" id="quantity" name="hours" min="0" max="24" value="<%=timeEntryData.hours%>">
                                </div>

                                <div class="col-6">
                                    <label for="Name">Date: <span class="require">*</span></label>
                                    <div class="" id="example2">
                                      <% let timeEntryDate =new Date(timeEntryData.date) %>

                                          <input type="date" name="date" id="myDate"  autocomplete="off" class="form-control" value="<%=timeEntryDate.toISOString().split('T')[0]%>"  >
                                      
                                      </div>
                                </div>
                               
                                <div class="col-12 mt-5">
                                    <button type="submit" name="submit" id="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a class="btn btn-danger" href="/timeEntryListing">Back</a>
                                </div>  
                        </form>
                    </div>
                </div>
            </section>
          </div>
          <%- include('partials/footer.ejs') %>
       
          <!-- custom-chart js -->
        
<script>
  if("<%=timeEntryRequestData%>"){
 const timeEntryRequestStartDate = "<%=JSON.stringify(timeEntryRequestData)%>"
 const decodedString = decodeURIComponent(timeEntryRequestStartDate.replace(/&#34;/g, '"'));
const decodedObject = JSON.parse(decodedString);
const errorMessage = document.getElementById("error-message");

myDate.addEventListener("input", function() {
  const selectedDate = new Date(myDate.value);
  let isDisabled = true;
  // const today = new Date();
  var today = new Date().toISOString().split('T')[0];
  var validays = '<%= validDays%>'
 var minDay = new Date(Date.now() - validays *86400000).toISOString().split('T')[0];
console.log("time",minDay,today,selectedDate.toISOString().split('T')[0])

  for (let i = 0; i < decodedObject.length; i++) {
    const startDate = new Date(decodedObject[i].start_date);
    const endDate = new Date(decodedObject[i].end_date);
    if ((selectedDate >= startDate && selectedDate <= endDate) || (selectedDate.toISOString().split('T')[0] >= minDay && selectedDate.toISOString().split('T')[0] <= today)) {
      isDisabled = false;
      break;
    }
  }
  if (isDisabled) {
    errorMessage.textContent = "This date is disabled.";
    myDate.value = "";
  } else {
    errorMessage.textContent = "";
  }
});

}else{

  var validays = '<%= validDays%>'
   var today = new Date().toISOString().split('T')[0];
 var minDay = new Date(Date.now() - validays *86400000).toISOString().split('T')[0];
  document.getElementById('myDate').setAttribute('min', minDay);
  document.getElementById('myDate').setAttribute('max', today);
  }

  var api_url = "<%= process.env.BASE_URL %>";
  $(document).ready(function () {
    $("#project").on("change", function () {
      var selectedValue = this.value;
      $.ajax({
        type: "POST",
        url: api_url + "/getTaskByProject/" + selectedValue,
        data: { 'projectID': selectedValue },
        dataType: "json",
        success: function (response) {
          $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
          $.map(response.tasks, function (val, i) {
            // Do something
            $("#task_id").append('<option value="' + val._id + '"> ' + val.title + ' </option>');
          });
        }
      });
    });
  });



  $(document).ready(function ($) {
    $("#timeEntryForm").validate({
      rules: {
        project_id: {
          required: true,

        },
        task_id: {
          required: true,

        },
        hours: {
          required: true,
        },
        date: {
          required: true,

        },
      },
      messages: {
        project_id: {
          required: "Project is reqired",
        },
        task_id: {
          required: "Task is reqired",
        },
        hours: {
          required: "hours is reqired",
        },
        date: {
          required: "date is required",
        },
      },

    });
  });

function disableSundays() {
  var input = document.getElementById("myDate");
  var day = new Date(input.value).getUTCDay();

  // If the selected day is Sunday (0), set the input value to null
  if (day == 0) {
    input.value = null;
    const errorMessage = document.getElementById("error-message");
    errorMessage.textContent = "You are Selecting Sunday.";
    input.style.border = "2px solid red";
  } else {
    const errorMessage = document.getElementById("error-message");
    errorMessage.textContent = "";
    input.style.border = "";
  }
}

var errorMessage = document.getElementById("error-message");
if("<%=holidayData%>" && "<%=userLeavesdata%>"){
 const holidayData = "<%=JSON.stringify(holidayData)%>";
 const decodedHolidayString = decodeURIComponent(holidayData.replace(/&#34;/g, '"'));
 const decodedHolidayObject = JSON.parse(decodedHolidayString);

 const userLeavesdata = "<%=JSON.stringify(userLeavesdata)%>";
 const decodedUserLeavesdataString = decodeURIComponent(userLeavesdata.replace(/&#34;/g, '"'));
 const decodedUserLeavesdataObject = JSON.parse(decodedUserLeavesdataString);

 const errorMessage = document.getElementById("error-message");

 myDate.addEventListener("input", function() {
   const selectedDate = new Date(myDate.value);
   let isHolidayDisabled = false;
   let isLeaveDisabled = false;

   for (let i = 0; i < decodedHolidayObject.length; i++) {
     const holidayDate = new Date(decodedHolidayObject[i].holiday_date);

     if (selectedDate.getTime() === holidayDate.getTime()) {
       isHolidayDisabled = true;
       break;
     }
   }

   for (let i = 0; i < decodedUserLeavesdataObject.length; i++) {
     const startDate = new Date(decodedUserLeavesdataObject[i].datefrom);
     const endDate = new Date(decodedUserLeavesdataObject[i].dateto);

     if ((selectedDate >= startDate && selectedDate <= endDate)) {
       isLeaveDisabled = true;
       break;
     }
   }

   if (isHolidayDisabled) {
     errorMessage.textContent = "You are selecting a holiday date.";
     myDate.value = "";
     myDate.style.border = "2px solid red";
   } else if (isLeaveDisabled) {
     errorMessage.textContent = "You are selecting a leave date.";
     myDate.value = "";
     myDate.style.border = "2px solid red";
   } else {
     errorMessage.textContent = "";
     myDate.style.border = "";
   }
 });
}
</script>
          <script>
          var task_id
          
          var api_url = "<%= process.env.BASE_URL %>";
        //   alert(api_url)
              $(document).ready(function () {
                   task_id = "<%= timeEntryData.task_id %>"
                      var selectedValue =$("#project").val();
                      $.ajax({
                          type: "POST",
                          url: api_url+"/api/getTaskByProject/" + selectedValue,
                          data: { 'projectID': selectedValue },
                          dataType: "json",
                          success: function (response) {
                              $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
                              $.map(response.tasks, function (val, i) {
                                  // Do something
                                  if(val._id == task_id){
                                    isSelected = 'selected'                  
                                  }else{
                                      isSelected = ''
                                  }
                                  $("#task_id").append('<option value="' + val._id + '"  '+isSelected+'   > ' + val.title + ' </option>');
                              });
                          }
                      });
                  });
                  //    $(document).ready(function () {
                  $("#project").on("change", function () {
                      var selectedValue = this.value;
                      $.ajax({
                          type: "POST",
                          url:api_url+"/api/getTaskByProject/" + selectedValue,
                          data: { 'projectID': selectedValue },
                          dataType: "json",
                          success: function (response) {
                              $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
                              $.map(response.tasks, function (val, i) {
                                  if(val._id == task_id){
                                    isSelected = 'selected'                  
                                  }else{
                                      isSelected = ''
                                  }
                                  $("#task_id").append('<option value="' + val._id + '"  '+isSelected+' > ' + val.title + ' </option>');

                              });
                          }
                      });
                  });
              // })
              $(document).ready(function ($) {
  $("#timeEntryForm").validate({
  rules: {
    project_id: {
      required: true,
   
    },
    task_id: {
      required: true,
   
    },
    hours: {
      required:true,
    },
    date: {
      required: true,
   
    },
  },
  messages: {
    project_id: {
      required: "Project is reqired",
    },
    task_id: {
      required: "Task is reqired",
    },
    hours: {
      required: "hours is reqired",
    },
    date: {
      required: "date is required",
    },
  },

});
});

var today = new Date().toISOString().split('T')[0];
 var twoDayAgo = new Date(Date.now() - 2 *86400000).toISOString().split('T')[0];
  document.getElementById('myDate').setAttribute('min', twoDayAgo);
  document.getElementById('myDate').setAttribute('max', today);

  
function disableSundays() {
  var input = document.getElementById("myDate");
  var day = new Date(input.value).getUTCDay();

  // If the selected day is Sunday (0), set the input value to null
  if (day == 0) {
    input.value = null;
  }
}

</script>

</body>

</html>