<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <%- include ("partials/head-bottom-link.ejs") %>
            <link rel="stylesheet" href="css/aman.css">

            <script>
                var statusValue = "<%= data.status%>";
                var project_typeValue = "<%= data.project_type%>";
            </script>
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("partials/menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Update Project</h1>
                            </div>
                            <div class="card-body">
                                <form method="post" action=""><br>
                                    <div class="row">
                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="title">Title :<span class="require">*</span></label>
                                            <input type="text" class="form-control" name="title" id="title"
                                                value="<%= data.title %>">
                                        </div>

                                        <div class=" col-6" style="margin-bottom: 17px;">
                                            <label for="short_description">Short Description :<span
                                                    class="require">*</span></label>
                                            <input type="text" class="form-control" name="short_description"
                                                id="short_description" placeholder="Enter Short Description"
                                                value="<%= data.short_description %>">
                                        </div>

                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="start_date">start date :<span class="require">*</span></label>
                                            <input type="date" class="form-control" name="start_date" id="start_date"
                                                value="<%= data.start_date %>">
                                        </div>

                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="end_date">End date :<span class="require">*</span></label>
                                            <input type="date" class="form-control" name="end_date" id="end_date"
                                                value="<%= data.end_date %>">
                                        </div>

                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="status"> Status : <span class="require">*</span></label>
                                            <select class="form-control" name="status">
                                                <option value="" selected="true">Select Status</option>
                                                <option value="on Hold" id="onhold">on Hold</option>
                                                <option value="in Progress" id="progress">in Progress</option>
                                                <option value="Completed" id="Completed">Completed</option>
                                            </select>
                                        </div>


                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="technology">Technology :<span class="require">*</span></label>
                                            <input type="text" class="form-control" name="technology" id="technology"
                                                value="<%= data.technology %>">
                                        </div>

                                        <div class="col-6" style="margin-bottom: 17px;">
                                            <label for="Name"> Project Type : <span class="require">*</span></label>
                                            <select class="form-control" name="project_type">
                                                <option value="" selected="true">Select Project Type</option>
                                                <option value="Fixed Cost" id="fixed">Fixed Cost</option>
                                                <option value="Dedicated" id="dedicated">Dedicated</option>
                                                <option value="Hourly" id="hourly">Hourly</option>
                                            </select>
                                        </div>

                                        <div class="col-12 mt-5">
                                            <button type="submit" name="submit" id="submit"
                                                class="btn btn-primary">Submit</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- [ Main Content ] end -->
            <%- include ("partials/footer.ejs") %>

                <script>
                    if (statusValue == "on Hold") {
                        $('#onhold').prop('selected', true);
                    } else if (statusValue == "in Progress") {
                        $('#progress').prop('selected', true);
                    } else {
                        $('#Completed').prop('selected', true);
                    }
                </script>
                <script>
                    if (project_typeValue == "Fixed Cost") {
                        $('#fixed').prop('selected', true);
                    } else if (project_typeValue == "Dedicated") {
                        $('#dedicated').prop('selected', true);
                    } else {
                        $('#hourly').prop('selected', true);
                    }

                </script>
                <!-- Apex Chart -->
                <script src="js/plugins/apexcharts.min.js"></script>
                @<%- include ("partials/footer-bottom-link.ejs") %>
                    <!-- custom-chart js -->
                    <script src="js/pages/dashboard-main.js"></script>
</body>

</html>