<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Edit Holiday</h1>
                        <% let yourHolidayDate=new Date(holidayData.holiday_date) %>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" id="holidayForm"><br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="Name"> Holiday Name: <span class="require">*</span></label>
                                    <input type="text" class="form-control" name="holiday_name" id="username"
                                        placeholder="Enter Holiday Name" value="<%= holidayData.holiday_name %>"
                                        onKeyPress="return ValidateAlpha(event);" required
                                        oninvalid="this.setCustomValidity('Enter Holiday Name Here')"
                                        oninput="this.setCustomValidity('')">
                                </div>
                                <div class="col-6">
                                    <label for="Name">Date: <span class="require">*</span></label>
                                    <input type="date" class="form-control" required
                                        oninvalid="this.setCustomValidity('Enter Holiday Date Here')"
                                        oninput="this.setCustomValidity('')" name="holiday_date"
                                        id="holiday_date" placeholder="Enter the firstname"
                                        value="<%= yourHolidayDate.toISOString().split('T')[0]%>">
                                </div>
                                <div class="col-12 mt-5">
                                    <button type="submit" name="submit" id="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a class="btn btn-danger" href="/holidayListing">Back</a>
                                </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

  $(document).ready(function ($) {

$("#holidayForm").validate({
  rules: {
    holiday_name: {
      required: true,
      minlength:3
    },
    holiday_date: {
      required: true,
      date:true
      
      // minlength: 5
    },


  },
  messages: {
    // personal_email: "Please enter your valid Personal Email",
    holiday_name: {
      required: "Holiday Name is reqired",
      minlength: "Holiday Name Must contain 3 letter"
    },
    holiday_date: {
      required: "Holiday date is required",
      date:"enter date only"
    },

    
  },

});
});
</script>

