<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Holidays</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (holidayData) { %>
                            <% for(var i=0; i < holidayData.length; i++) { %>
                              <tr>
                                <td>
                                  <%= (i + 1) %>
                                </td>
                                <td>
                                  <%= holidayData[i].holiday_name %>
                                </td>
                                <% let newDate = new Date(holidayData[i].holiday_date)%>
                                <td>
                                    <%= newDate.toISOString().split('T')[0].split("-").reverse().join("-")  %>
                                </td>                   
                                <td>
                                  <a href="/editHoliday/<%= holidayData[i]._id %>" class="btn btn-primary"><i
                                      class="fa-solid fa-pen-to-square"></i></a>
                                  <a href="/deleteHoliday/<%= holidayData[i]._id %>" class="btn btn-danger" data-toggle="modal"
                                    onclick="return openModal('<%= holidayData[i]._id %>')"><i class="fas fa-trash-alt"></i></a>
                                </td>
                                <div class="modal" id="myModal_<%= holidayData[i]._id %>">
  
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to delete this Holiday</h4>
                                      </div>
  
                                      <!-- Modal body -->
                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                            class="Close">No</a></button>
                                        <button class="btn btn-success"><a class="text-white" class="Yes"
                                            href="/deleteHoliday/<%= holidayData[i]._id %>">Yes</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </tr>
                              <% } %>
                                <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

