<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
        
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="pcoded-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i
                                                    class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Dashboard Analytics </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <!-- [ Main Content ] start -->

                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <!-- support-section start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card support-bar overflow-hidden">
                                        <div class="card-body pb-0">
                                            <h2 class="m-0">
                                                <%= userData.length %>
                                            </h2>

                                            <span class="text-c-blue">Employees</span>
                                            <p class="mb-3 mt-3">Total number of employee.</p>
                                        </div>
                                        <!-- <div id="support-chart"></div> -->

                                        <div class="card-footer bg-primary text-white">
                                            <div class="row text-center">
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= active.length %>
                                                    </h4>
                                                    <span>Active</span>
                                                </div>
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= InActive.length %>
                                                    </h4>
                                                    <span>InActive</span>
                                                </div>
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= pending.length %>
                                                    </h4>
                                                    <span>Pending</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card support-bar overflow-hidden">
                                        <div class="card-body pb-0">
                                            <h2 class="m-0">
                                                <%= projectData.length %>
                                            </h2>
                                            <span class="text-c-green">Projects</span>
                                            <p class="mb-3 mt-3">Total number of Projects.</p>
                                        </div>
                                        <!-- <div id="support-chart1"></div> -->
                                        <div class="card-footer bg-success text-white">
                                            <div class="row text-center">
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= projectcompleted.length %>
                                                    </h4>
                                                    <span>Completed</span>
                                                </div>
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= projecthold.length %>
                                                    </h4>
                                                    <span>On Hold</span>
                                                </div>
                                                <div class="col">
                                                    <h4 class="m-0 text-white">
                                                        <%= projectinprogress.length %>
                                                    </h4>
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- support-section end -->
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <!-- page statustic card start -->
                            <div class="row">
                                <!-- <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-yellow">$30200</h4>
                                                    <h6 class="text-muted m-b-0">All Earnings</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="feather icon-bar-chart-2 f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-yellow">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="feather icon-trending-up text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-green">


                                                    </h4>
                                                    <h6 class="text-muted m-b-0">holidays</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="feather icon-file-text f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-green">
                                            <div class="row align-items-center">
                                                <div class="col-9">

                                                    <% const monthNames=["January", "February" , "March" , "April"
                                                        , "May" , "June" , "July" , "August" , "September" , "October"
                                                        , "November" , "December" ];%>

                                                        <% const m=new Date(); %>
                                                            <% const month=monthNames[m.getMonth()];%>
                                                                <h3 class="text-white m-b-0">
                                                                    <%= month %>
                                                                </h3>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-red">
                                                        <%= taskData.length %>
                                                    </h4>
                                                    <h6 class="text-muted m-b-0">Task</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="feather icon-calendar f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer bg-c-red">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="feather icon-trending-down text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-blue">
                                                        <%= leavesData.length %>
                                                    </h4>
                                                    <h6 class="text-muted m-b-0">Leaves Request </h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="feather icon-thumbs-down f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer bg-c-blue">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="feather icon-trending-down text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- page statustic card end -->
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>

    </div>
  
    <%- include ("partials/footer.ejs") %>
        
       
          
</body>

</html>