<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href= />
    <%- include ("partials/head.ejs") %>
        

<body class="hold-transition sidebar-mini layout-fixed">
    <%- include ("menu-list.ejs") %>
        <div class="pcoded-main-container">
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1><span class="ml-2">All Leaves</span></h1>
                            </div>

                        </div>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-bordered table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Employee name</th>
                                                    <th>Reason</th>
                                                    <th>Date From</th>
                                                    <th>Date To</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (leavesData) { %>
                                                    <% var i=1; %>
                                                        <% leavesData.forEach(function(u) { %>

                                                            <tr>
                                                                <td>
                                                                    <%= (i++) %>
                                                                </td>
                                                                <td>
                                                                    <% u.user.forEach(function(r) { %>
                                                                        <%= r.firstname %>
                                                                            <% }) %>
                                                                </td>
                                                                <td>
                                                                    <%= u.reason %>
                                                                </td>
                                                                <td>
                                                                    <%= u.datefrom %>
                                                                </td>
                                                                <td>
                                                                    <%= u.dateto %>
                                                                </td>
                                                                <td>
                                                                    <a href="/approveLeaves/<%= u._id %>"
                                                                        class="btn btn-primary"><i
                                                                            class="fa-solid fa-square-check fa-2xl"></i></a>
                                                                    <a href="/rejectLeaves/<%= u._id %>"
                                                                        class="btn btn-danger text-dark ml-3"><i
                                                                            class="fa-solid fa-rectangle-xmark fa-2xl"></i></a>
                                                                </td>
                                                                <div class="modal" id="myModal_<%= u.id %>">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Are you sure you
                                                                                    want to delete this Role</h4>
                                                                            </div>                        
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-danger "
                                                                                    data-dismiss="modal"><a
                                                                                        class="Close">No</a></button>
                                                                                <button class="btn btn-success"><a
                                                                                        class="text-white" class="Yes"
                                                                                        href="/deleteTask/<%= u._id %>">Yes</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </tr>
                                                            <% }) %>
                                                                <% } %>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <%- include ("partials/footer.ejs") %>
           
                
</body>
</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }
</script>