<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <script>
        var genderValue = "<%= loggeduserdata.gender %>";
    </script>
    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card mt-5">
                                            <div class="card-header">
                                                <h3 class="card-title">Employee Profile</h3>
                                            </div>
                                            <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <% if(images.length > 0) { %>
                                                    <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <%= images %>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                <% } %>
                                                
                                               
                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                        <form action="/userprofilephoto/<%= loggeduserdata._id%>" method="post"
                                                            enctype="multipart/form-data">
                                                            <div class="profile-pic" id="profile">
                                                                <label class="-label" for="file">
                                                                    <span class="glyphicon glyphicon-camera"></span>
                                                                    <span>Change Image</span>
                                                                </label>
                                                                <input id="file" type="file" name="photo" onchange="this.form.submit();" />
                                                                <%if(!loggeduserdata.photo==""){%>
                                                                    <img  id="output" 
                                                                    alt="user Profile" src="/public/images/<%= loggeduserdata.photo%>" alt="">
                                                                    <% }else{ %>
                                                                      <img  src="/public/images/imageicon.png" id="output" width="200"
                                                                      alt="user Profile" alt="">
                                                                      <% } %>
                                                                <!-- <img src="/public/images/<%= loggeduserdata.photo%>" id="output" width="200"
                                                                    alt="user Profile" class=""/> -->
                                                            </div>
                                                            
                                                        </form>
                                                        <%}else{%>
                                                        <div class="profile-pic" id="profile">
                                                            <label class="nohover-label" for="file">
                                                                <!-- <span class="glyphicon glyphicon-camera"></span> -->
                                                                <!-- <span>Change Image</span> -->
                                                            </label>
                                                            <%if(!loggeduserdata.photo==""){%>
                                                                <img  id="output" 
                                                                alt="user Profile" src="/public/images/<%= loggeduserdata.photo%>" alt="">
                                                                <% }else{ %>
                                                                  <img  src="/public/images/imageicon.png" id="output" width="200"
                                                                  alt="user Profile" alt="">
                                                                  <% } %>
                                                            <!-- <img src="/public/images/<%= loggeduserdata.photo%>" id="output" width="200"
                                                                alt="user Profile" class=""/> -->
                                                        </div>
                                                        <%}%>
                                                        <div class="mt-3">
                                                            <h4>
                                                                <%= loggeduserdata.user_name %>
                                                            </h4>
                                                            <p class="text-secondary mb-1">
                                                                <%= sess.userData.roleData[0].role_name%>
                                                            </p>
                                              
                                                        </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <div class="card-header">
                                            <h3 class="card-title">Bank Details</h3>
                                        </div>
                                        <form action="" method="post" id="profileform">
                                        <div class="row mb-3">
                                            <div class="col-sm-3 mt-1">
                                                <h6 class="mb-0 ml-1 pt-1">Ac. Number</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                <input type="text"  class="form-control text-dark bg-white" name="bank_account_no"
                                                    value="<%= loggeduserdata.bank_account_no%>">
                                                    <%}else{%>
                                                        <input type="text" disabled class="form-control text-white bg-dark" name="last_name"
                                                        value="<%= loggeduserdata.bank_account_no%>">
                                                        <%}%>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 ">
                                                <h6 class="mb-0 ml-1 pt-1">Bank Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                    <input type="text"  class="form-control text-dark bg-white" name="bank_name"
                                                    value="<%= loggeduserdata.bank_name%>">
                                                        <%}else{%>
                                                            <input type="text" disabled class="form-control text-white bg-dark" name="last_name"
                                                            value="<%= loggeduserdata.bank_name%>">
                                                            <%}%>
                                            </div>
                                        </div>
                                           <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0 ml-1 pt-1">IFSC</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                    <input type="text"  class="form-control text-dark bg-white" name="ifsc_code"
                                                    value="<%= loggeduserdata.ifsc_code%>">
                                                        <%}else{%>
                                                            <input type="text" disabled  class="form-control text-white bg-dark" name="last_name"
                                                            value="<%= loggeduserdata.ifsc_code%>">
                                                            <%}%>
                                            
                                            </div>
                                        </div>
                                        <!-- <div class="card-body">
                                            <div class="row">
                                                <div class="card-body">
                                                  <div class="row">
                                                    <div class="col-sm-6">
                                                      <h4>Bank Name:</h4>
                                                      <h4>Account Number:</h4>
                                                      <h4>IFSC Code:</h4>
                                                     
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                
                                                   
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                           
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mt-5">
                                        <div class="card-body">
                                           
                                                <% if(profileupdate.length>0) {%>
                                                    <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <%= profileupdate %>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                            
                                                    </div>
                                                    <% } %>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">First Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" required name="firstname"
                                                                    value="<%= loggeduserdata.firstname%>">
                                                            </div>
                            
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Middle Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="middle_name"
                                                                    value="<%= loggeduserdata.middle_name%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Last Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="last_name"
                                                                    value="<%= loggeduserdata.last_name%>">
                                                            </div>
                                                        </div>
                            
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0"> Personal Email</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="personal_email"
                                                                    value="<%= loggeduserdata.personal_email%>">
                                                            </div>
                                                        </div>
                                                           
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Gender</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <div class="gender bg-white text-dark" style="height: 30px;">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                           
                                                                            <td class="pl-3">Male</td>
                                                                            <td class="pl-1"><input type="radio" id="gender_male"
                                                                                name="gender" value="male" required  <%= (loggeduserdata.gender == 'male') ? 'checked=checked' : ''; %>></td>
                                                                            <td class="pl-3">Female</td>
                                                                            <td class="pl-1"><input type="radio" id="gender_female"
                                                                                name="gender" value="female" <%= (loggeduserdata.gender == 'female') ? 'checked=checked' : ''; %>></td>
                                                                            <td class="pl-3">Other</td>
                                                                            <td class="pl-1"><input type="radio" id="other" name="gender"
                                                                                value="other" <%= (loggeduserdata.gender == 'other') ? 'checked=checked' : ''; %>></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            </div>
                                                        </div>
                            
                                                        
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0"> Company Email</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                                <input type="text"  class="form-control text-dark bg-white" name="company_email"
                                                                    value="<%= loggeduserdata.company_email%>">
                                                                    <%}else{%>
                                                                        <input type="text" disabled class="form-control text-white bg-dark" name="personal_email"
                                                                        value="<%= loggeduserdata.company_email%>">
                                                                        <%}%>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">DOB</h6>
                                                            </div>
                                                            <% let DOB =new Date(loggeduserdata.dob ) %>
                                                        
                                                           <% const dob = DOB.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                   
                                                            <div class="col-sm-9 text-secondary">
                                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                                    <input type="date" class="form-control text-dark bg-white" name="dob"
                                                                    value= "<%= DOB.toISOString().split('T')[0] %>">
                                                                        <%}else{%>
                                                                            <input type="text" disabled  class="form-control text-white bg-dark" name="dob"
                                                                    value="<%= dob %>">
                                                                            <%}%>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">DOJ</h6>
                                                            </div>
                                                            <% let DOJ =new Date(loggeduserdata.doj ) %>
                                                            <% const doj = DOJ.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                            <div class="col-sm-9 text-secondary">
                                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                                    <input type="date"  class="form-control text-dark bg-white" name="doj"
                                                                    value="<%=DOJ.toISOString().split('T')[0] %>">
                                                                        <%}else{%>
                                                                            <input type="text" disabled class="form-control text-white bg-dark" name="doj"
                                                                            value="<%= doj %>">
                                                                            <%}%>
                                                            
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Phone</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="number"  class="form-control text-dark bg-white" name="mo_number"
                                                                    value="<%= loggeduserdata.mo_number%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Pan number</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                                    <input type="text" class="form-control text-dark bg-white" name="pan_number"
                                                                    value="<%= loggeduserdata.pan_number%>">
                                                                        <%}else{%>
                                                                            <input type="text" disabled class="form-control text-white bg-dark" name="pan_number"
                                                                            value="<%= loggeduserdata.pan_number%>">
                                                                            <%}%>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Aadhar Numbers</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <% if(loggeduserdata.roleName== "Admin" ) { %>
                                                                    <input type="number"  class="form-control text-dark bg-white" name="aadhar_number"
                                                                    value="<%= loggeduserdata.aadhar_number%>">
                                                                        <%}else{%>
                                                                            <input type="number" disabled class="form-control text-white bg-dark" name="aadhar_number"
                                                                            value="<%= loggeduserdata.aadhar_number%>">
                                                                            <%}%>
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Address</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="add_1"
                                                                    value="<%= loggeduserdata.add_1 %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Address2</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="add_2"
                                                                    value="<%= loggeduserdata.add_2 %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Pincode</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text"  class="form-control text-dark bg-white" name="pincode"
                                                                    value="<%= loggeduserdata.pincode %>">
                                                            </div>
                                                        </div>
                            
                                         
                                                     
                                        
                            
                            
                                                         <div class="row">
                                                            <div class="col-sm-3"></div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                                                <a class="btn btn-danger" href="/">Back</a>
                                                            </div>
                                                        </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <%- include('partials/footer.ejs') %>

    </body>

</html>
 <scrip>
    <!-- $('#file').change(function () {
        $('#target').submit();
    }); -->

</script>
<script>
    $(document).ready(function ($) {

           $("#profileform").validate({
               rules: {
                   firstname: {
                       required: true,
                   },
                   middle_name: {
                       required: true,
                   },
                   last_name: {
                       required: true,
                   },
                   personal_email: {
                       required: true,
                       email:true
                   },
                   mo_number:{
                    required:true,
                    minlength: 10,
                    maxlength:10
                   },
                   add_1:{
                    required:true,
                   },
                   add_2:{
                    required:true,
                   }

               },
               messages: {
                   // personal_email: "Please enter your valid Personal Email",
                   firstname: {
                       required: "Firstname is Required",
                   },
                   middle_name: {
                       required: "Middlename is Required",

                   },
                   last_name: {
                       required: "Lastname is Required",
                   },
                   personal_email: {
                       required: "Email is Required",
                       email:"Please Type Valid Email"
                    
                   },
                   mo_number:{
                    required:"Mobile Number is Required",
                    minlength: "Number Must be contain 10 digit",
                    maxlength: "Number Must be contain 10 digit",
                   },
                   add_1:{
                    required:"Address is Required",
                   },
                   add_2:{
                    required:"Address is Required",
                   }

               },

           });
       });
  </script>


