<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row ">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Projects </h4>
                                                <a class="nav-link btn btn-success create-new-button" style="width: 182px;  margin-left: 1385px; margin-top: -42px;" id="createbuttonDropdown" 
                                                     href="/addProjects">+ Create New Project</a>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                             
                                                                <th>#</th>
                                                                <th>Title</th>
                                                                <th>Short Description</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Status</th>
                                                                <th>Technology</th>
                                                                <th>Users</th>
                                                                <th>Project Type</th>
                                                                <th>Action</th> 
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (projectsData) { %>
                                                                <% console.log(projectsData) %>
                                                                    <% var i=1; %>
                                                                        <% projectsData.forEach(function(u) { %>
                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    <%= (i++) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.title %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.short_description %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.start_date %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.end_date %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.status %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.technology %>
                                                                                </td>
                                                                                <td>
                                                                                    <% u.user.forEach(function(r) { %>
                                                                                        <% if(u.user.length> 1 ){ %>
                                                                                            <%= r.firstname %>,
                                                                                                <% }else{ %>
                                                                                                    <%= r.firstname %>
                                                                                                        <% } %>
                                                            
                                                                                                            <% }) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.project_type %>
                                                                                </td>
                                                                                <td>
                                                                                    <a href="/editProject/<%= u._id %>" class="btn btn-primary"><i
                                                                                            class="fa-solid fa-pen-to-square"></i></a>
                                                                                    <a href="/deleteproject/<%= u._id %>" data-toggle="modal"
                                                                                        onclick="return openModal('<%= u._id %>')" class="btn btn-danger"><i
                                                                                            class="fas fa-trash-alt"></i></a>
                                                                                </td>
                                                                                <div class="modal" id="myModal_<%= u._id %>">
                                                            
                                                                                    <div class="modal-dialog">
                                                                                        <div class="modal-content">
                                                            
                                                                                            <div class="modal-header">
                                                                                                <h4 class="modal-title">Are you sure you
                                                                                                    want to delete this Project</h4>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                                                                                        class="Close">No</a></button>
                                                                                                <% // console.log(u._id ) %>
                                                                                                    <button class="btn btn-success"><a class="text-white" class="Yes"
                                                                                                            href="/deleteproject/<%= u._id %>">Yes</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                </td>
                                                                            </tr>
                                                                            <% }) %>
                                                                                <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>