<%- include("partials/head") -%>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include("partials/sidebar") -%>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.html -->
          <%- include("partials/header") -%>

            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="row ">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <div class="row mb-5">
                          <div class="col-sm-6">
                            <h1 class="m-0"><i class="fa-solid fa-virus"></i> <span class="ml-2">Roles</span></h1>
                          </div>
                          <div class="col-sm-6">
                            <a href="/addRole" style="float:right;"><button class="btn btn-dark"><i
                                  class="fas fa-plus"></i></button></a>
                            <a href="/index" style="float:right;"> <span class="mr-3"><button class="btn btn-danger"><i
                                    class="feather icon-home"></i></button></a></span>

                          </div>
                        </div>

                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if (data) { %>
                                <% for(var i=0; i < data.length; i++) { %>
                                  <tr>
                                    <td>
                                      <%= (i + 1) %>
                                    </td>
                                    <td>
                                      <%= data[i].role_name %>
                                    </td>
                                    <td>
                                      <%= data[i].role_description %>
                                    </td>
                                    <!-- <td>
                                      <%= data[i].permission_name %>
                                    </td> -->
                                    <td>
                                      <a href="/rolepermission/<%= data[i]._id %>" class="btn btn-success mr-4">
                                        <i class="fa-solid fa-shield-virus text-dark"></i></a>
                                      <a href="/editRole/<%= data[i]._id %>" class="btn btn-primary mr-4"><i
                                          class="fa-solid fa-pen-to-square"></i></a>


                                      <a href="/deleteRole/<%= data[i]._id %>" data-toggle="modal"
                                        onclick="return openModal('<%= data[i]._id %>')" class="btn btn-danger"><i
                                          class="fas fa-trash-alt"></i></a>
                                    </td>




                                    <!-- The Modal -->
                                    <div class="modal" id="myModal_<%= data[i]._id %>">

                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h4 class="modal-title">Are you sure you want to delete this Role</h4>
                                          </div>

                                          <!-- Modal body -->
                                          <!-- Modal footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                                class="Close">No</a></button>
                                            <button class="btn btn-success"><a class="text-white" class="Yes"
                                                href="/deleteRole/<%= data[i]._id %>">Yes</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </tr>
                                  <% } %>
                                    <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%- include ("partials/footer.ejs") %>
              </div>
            </div>
        </div>
  </body>

  </html>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
  <script>
    function openModal(modal_id) {
      //$('.confirm-delete').addClass('hide');
      $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
      $('#myModal_' + modal_id).modal('show');
    }
  </script>