<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <%- include ("partials/head-bottom-link.ejs") %>
            <link rel="stylesheet" href="css/aman.css">
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->
<script>

</script>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("partials/menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Add Permission</h1>
                            </div>
                            <h1>
                                Role :<%= roledata.role_name%>
                            </h1>

                            <div class="col-12">

                                <div class="card-body">
                                    <form method="post" action=""><br>
                                        <div class="row">


                                            <div class="col-12">
                                                <div class="row">
                                                <% if (data) { %>
                                                    <% for(var i=0; i < data.length; i++) { %>
                                                        <% var isChecked='' %>
                                                            <% if(datas.includes(data[i]._id.toString())){ %>
                                                                <% isChecked='checked' %>
                                                                    <% } %>
                                                                    <div class="col-3">
                                                                        <input type="checkbox" id=""
                                                                            name="permission_id"
                                                                            value="<%= data[i]._id %>" <%=isChecked %>>
                                                                      
                                                                            <%= data[i].permission_name %>
                                                                        </div>
                                                                           
                                                                            
                                                                            
                                                                            
                                                                            <% } %>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>




                                                                                <input type="hidden"
                                                                                    class="form-control" name="role_id"
                                                                                    id="role_id"
                                                                                    value="<%= roledata._id%>">

                                            </div>



                                            <div class="col-12 mt-5">
                                                <button type="submit" name="submit" id="submit"
                                                    class="btn btn-primary">Submit</button>
                                            </div>

                                    </form>
                                </div>
                            </div>
                    </section>
                </div>
            </div>
            <!-- [ Main Content ] end -->
            <%- include ("partials/footer.ejs") %>
                <!-- Apex Chart -->
                <script src="js/plugins/apexcharts.min.js"></script>
                @<%- include ("partials/footer-bottom-link.ejs") %>
                    <!-- custom-chart js -->
                    <script src="js/pages/dashboard-main.js"></script>


</body>

</html>