<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <%- include ("partials/head.ejs") %>
    <%- include ("partials/head-bottom-link.ejs") %>


<body class="hold-transition sidebar-mini layout-fixed">
  <%- include ("partials/menu-list.ejs") %>
    <div class="pcoded-main-container">
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><i class="fa-solid fa-virus"></i><span class="ml-2">Roles</span></h1>
                <% if(success.length> 0) {
                  %>
                  <div class="alert alert-dark alert-dismissible fade show text-danger ml-3 pl-3" role="alert">
                    <strong> **<%= success %> </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %>
              </div>
              <div class="col-sm-6">
                <a href="/addRole" style="float:right;"><button class="btn btn-dark"><i
                      class="fas fa-plus"></i></button></a>
                <a href="/index" style="float:right;"> <span class="mr-3"><button class="btn btn-danger"><i
                        class="feather icon-home"></i></button></a></span>
              </div>
            </div>
          </div>
        </div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">

                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="myTable">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (roleData) { %>
                          <% for(var i=0; i < roleData.length; i++) { %>
                            <tr>
                              <td>
                                <%= (i + 1) %>
                              </td>
                              <td>
                                <%= roleData[i].role_name %>
                              </td>
                              <td>
                                <%= roleData[i].role_description %>
                              </td>
                              <td>
                                <a href="/rolepermission/<%= roleData[i]._id %>" class="btn btn-lg">
                                  <i class="fa-solid fa-shield-virus"></i></a>
                                <a href="/editRole/<%= roleData[i]._id %>" class="btn btn-lg"><i
                                    class="fa-solid fa-pen-to-square"></i></a>


                                <a href="/deleteRole/<%= roleData[i]._id %>" data-toggle="modal"
                                  onclick="return openModal('<%= roleData[i]._id %>')" class="btn btn-lg"><i
                                    class="fas fa-trash-alt"></i></a>
                              </td>
                              <div class="modal" id="myModal_<%= roleData[i]._id %>">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Are you sure you want to delete this Role</h4>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                          class="Close">No</a></button>
                                      <button class="btn btn-success"><a class="text-white" class="Yes"
                                          href="/deleteRole/<%= roleData[i]._id %>">Yes</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </tr>
                            <% } %>
                              <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include ("partials/footer.ejs") %>
      @<%- include ("partials/footer-bottom-link.ejs") %>
        <script src="js/pages/"></script>
</body>
</html>
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }
</script>