<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar.ejs') %>
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="row ">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c
                          href="/addWorkingHour">+ Add Wroking Hour </a>
                        <div class="col-sm-9">
                          <h1 class="card-title">Total Hours</h4>
                            <!-- <label for="date-input" style="float: right;">Select a date:</label> -->
                            <input type="date" onchange="getMonthYear()" class="col-2 form-control ml-2"
                              style="float: right;" id="date">
                            <!-- <select name="year" class="col-2 form-control ml-2" style="float:right"
                              onchange="getMonthYear()" id="year">
                              <option value="">Select Year</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                               add more years as needed 
                            </select> -->
                            <!-- <select onchange="getMonthYear()" style="float:right" class="col-2 form-control"
                              name="month" id="month">
                              <option value="">Select Month</option>
                              <option value="01">January</option>
                              <option value="02">February</option>
                              <option value="03">March</option>
                              <option value="04">April</option>
                              <option value="05">May</option>
                              <option value="06">June</option>
                              <option value="07">July</option>
                              <option value="08">August</option>
                              <option value="09">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                            </select> -->


                            <!-- <label for="year" >Day:</label> -->

                            <% if(loggeduserdata.roleName=="Admin" ){%>
                              <select id='user' class="form-control col-3 mr-2 " style="float:right ; height: 40px;"
                                onchange="getMonthYear()">
                                <option value="">All User</option>
                                <% if (userData) { %>
                                  <% for(var i=0; i < userData.length; i++) { %>
                                    <option value="<%= userData[i]._id %>"
                                      <%=userData[i]._id==loggeduserdata._id.toString() ? 'Selected' : '' %> >
                                      <%= userData[i].firstname +" "+ userData[i].last_name%>
                                    </option>
                                    <% } %>
                                    <% }%>
                                  </select>
                                  <% } %>
                            </div>
                          <div class=" card-body">
                                        <h1>
                                          Working
                                        </h1>
                                        <div class="table-responsive">
                                          <table class="table text-white" id="working">
                                            <thead>
                                              <tr class="text-warning">
                                                <th class="text-warning">Start Time</th>
                                                <th class="text-warning">End Time</th>
                                                <th class="text-warning">Total Time</th>
                                              </tr>
                                            <tbody id="workingHour">

                                            </tbody>
                                            </thead>
                                          </table>
                                        </div>
                        </div>
                        <div class="card-body">
                          <h1>
                            Break
                          </h1>
                          <div class="table-responsive">
                            <table class="table text-white" id="break">
                              <thead>
                                <tr class="text-warning">
                                  <th class="text-warning">Start Time</th>
                                  <th class="text-warning">End Time</th>
                                  <th class="text-warning">Total Time</th>
                                </tr>
                              <tbody id="break_hour">
                              </tbody>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%- include('partials/footer.ejs') %>
  </body>

</html>
<script>
  var today = new Date().toISOString().split('T')[0];
  // document.getElementById('myDate').setAttribute('min', minDay);
  document.getElementById('date').setAttribute('max', today)
  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }
  var d = new Date();
  var year = d.getFullYear();
  var month = ('0' + (d.getMonth() + 1)).slice(-2);
  var day = ('0' + d.getDate()).slice(-2);
  var dateString = year + '-' + month + '-' + day;
  document.getElementById('date').value = dateString;
  var user_id = '<%=loggeduserdata._id%>'
  var date = $('#date').val()
  // alert(user_id)
  $(document).ready(function () {
    $.ajax({
      type: "POST",
      url: "/api/getWorkingHourByday/",
      data: { 'date': date, 'user_id': user_id },
      dataType: "json",
      success: function (response) {
        let totalMinutes = 0;
        $("#workingHour").html('');
        $("#break_hour").html('');

        response.workingHourData.forEach(workingHours => {
          
          console.log(workingHours.total_hour);
          const [hours, minutes] = workingHours.total_hour.split(":").map(parseFloat);
          totalMinutes += hours * 60 + minutes;

          $('#workingHour').append('<tr> <td>' + workingHours.start_time + '</td> <td>' + workingHours.end_time + '</td> <td>' + workingHours.total_hour + '</td></tr>')
        });

        const hours = Math.floor(totalMinutes / 60);
console.log(hours)

        const minutes = totalMinutes % 60;


        const totalTime = `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}`;
        console.log(totalTime)

        $('#workingHour').append('<tr> <td class ="text-primary">' + "Total Hours" + '</td>  <td>' + "" + '</td><td class ="text-primary">' + totalTime + '</td></tr>')

        response.breakData.forEach(breakHours => {
          $('#break_hour').append('<tr> <td>' + breakHours.start_time + '</td> <td>' + breakHours.end_time + '</td> <td>' + breakHours.break + '</td></tr>')
        });

      }
    })
  })

  function getMonthYear() {
    var date = $('#date').val()
    const user_id = $('#user').val();
    const loggedUser = "<%=loggeduserdata._id%>"
    // console.log("<%=loggeduserdata._id%>")
    var data = {};
    if (user_id) {
      data.user_id = user_id;
    }
    else {
      data.user_id = loggedUser.toString();
    }
    if (date) {
      data.date = date;
    }
    $.ajax({
      type: "POST",
      url: "/api/getWorkingHourByday/",
      data: data,
      dataType: "json",
      success: function (response) {
        $("#workingHour").html('');
        $("#break_hour").html('');
        let totalMinutes = 0;
        response.workingHourData.forEach(workingHours => {
          const [hours, minutes] = workingHours.total_hour.split(":").map(parseFloat);
          totalMinutes += hours * 60 + minutes;
          $('#workingHour').append('<tr> <td>' + workingHours.start_time + '</td> <td>' + workingHours.end_time + '</td> <td>' + workingHours.total_hour + '</td></tr>')
        });
        const hours = Math.floor(totalMinutes / 60);
        const minutes = totalMinutes % 60;
        const totalTime = `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}`;
        $('#workingHour').append('<tr> <td class ="text-primary">' + "Total Hours" + '</td>  <td>' + "" + '</td><td class ="text-primary">' + totalTime + '</td></tr>')
        response.breakData.forEach(breakHours => {
          $('#break_hour').append('<tr> <td>' + breakHours.start_time + '</td> <td>' + breakHours.end_time + '</td></tr>')
        });
      }
    })
  }


</script>