<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <%- include ("partials/head.ejs") %>
    <%- include ("partials/head-bottom-link.ejs") %>

<body class="hold-transition sidebar-mini layout-fixed">
  <%- include ("partials/menu-list.ejs") %>
    <div class="pcoded-main-container">
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><i class="fa-solid fa-virus"></i><span class="ml-2">Time Entries</span></h1>
              </div>
              <div class="col-sm-6">
                <a href="/AddtimeEntries" style="float:right;"><button class="btn btn-dark"><i
                      class="fas fa-plus"></i></button></a>
                <a href="/index" style="float:right;"> <span class="mr-3"><button class="btn btn-danger"><i
                        class="feather icon-home"></i></button></a></span>

              </div>
            </div>
          </div>
        </div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <!--  <div class="card-header">
              <h3 class="card-title">All Category</h3>
            </div> -->
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="myTable">
                      <thead>
                        <tr>
                          <div class="main" style="display: flex;
                          margin-bottom: 15px;">
                            <div class="col-4">
                              <select id='gMonth2' class="form-control">
                                <option value=''>--Select Date--</option>
                                <option value='1'>01</option>
                                <option value='2'>02</option>
                                <option value='3'>03</option>
                                <option value='4'>04</option>
                                <option value='5'>05</option>
                                <option value='6'>06</option>
                                <option value='7'>07</option>
                                <option value='8'>08</option>
                                <option value='9'>09</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                              </select>
                            </div>
                            <div class="col-4">
                              <select id='gMonth2' class="form-control">
                                <option value=''>--Select Month--</option>
                                <option value='0'>Janaury</option>
                                <option value='1'>February</option>
                                <option value='2'>March</option>
                                <option value='3'>April</option>
                                <option value='4'>May</option>
                                <option value='5'>June</option>
                                <option value='6'>July</option>
                                <option value='7'>August</option>
                                <option value='8'>September</option>
                                <option value='9'>October</option>
                                <option value='10' selected>November</option>
                                <option value='11'>December</option>
                              </select>
                            </div>
                            <div class="col-4">
                              <select id='gMonth2' class="form-control">
                                <option value=''>--Select year--</option>
                                <option value='2022'>2022</option>
                                <option value='2023'>2023</option>
                                <option value='2024'>2024</option>
                              </select>
                            </div>
                          </div>
                  </div>
                  <th>NO.</th>
                  <th>Project</th>
                  <th>Tasks</th>
                  <th>Hours</th>
                  </tr>
                  </thead>
                  <tbody id="tblEmployee">
                  </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
    </div>
    </div>
    <%- include ("partials/footer.ejs") %>
      <!-- Apex Chart -->
      <script src="js/plugins/apexcharts.min.js"></script>
      @<%- include ("partials/footer-bottom-link.ejs") %>
        <!-- custom-chart js -->
        <script src="js/pages/dashboard-main.js"></script>
</body>

</html>

<script>
  $(document).ready(function () {
    $("#gMonth2").on("change", function () {
      var selectedValue = this.value;
      $.ajax({
        type: "POST",
        url: "http://localhost:46000/checkMonth",
        data: { 'month': selectedValue },
        dataType: "json",
        success: function (response) {
          // console.log("asd",response)
          $("#tblEmployee").html('');
          // $.map( response.tasks[0].userData, function( val, i ) {
          $.map(response.Hoursdata, function (val, i) {
            console.log("aman", val)
            $.map(val.test, function (value) {
              $.map(val.test1, function (values) {
                //  for(var j=1; j<val.length;j++)
                $('#tblEmployee').append('<tr> <td>' + ++i + '</td> <td>' + value.title + '</td>  <td>' + values.title + '</td> <td>' + val.hours + '</td></tr>')

              });
            });
          });
          // console.log("sandip",value )

        }
      });
    });

    $('#myTable').DataTable();
  });
</script>