<!DOCTYPE html>
<html lang="en">  
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <%- include ("partials/head.ejs") %>
     <%- include ("partials/head-bottom-link.ejs") %>  
<body class="hold-transition sidebar-mini layout-fixed">
    <%- include ("partials/menu-list.ejs") %> 
    <div class="pcoded-main-container">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><span class="ml-2">Users</span></h1>
            
          </div>
          <div class="col-sm-6">
            <a href="/addUser" style="float:right;"><button class="btn btn-dark"><i class="fas fa-plus"></i></button></a>
          </div>  
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-12">
           <div class="card">
           <!--  <div class="card-header">
              <h3 class="card-title">All Category</h3>
            </div> -->
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>User Role</th>
                        <th>Email</th>
                        <th> MO.Number</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <% if (data) { %>
                          <% var i = 1; %>
                          <% data.forEach(function(u) { %>

                            <tr>
                                <td><%= (i++) %></td>
                                <td><%= u.firstname %></td>
                                <td>
                                  <% u.test.forEach(function(r) { %>
                                    <%= r.role_name %>
                                  <% }) %>
                                </td>
                                <td><%= u.personal_email %></td>
                                <td><%= u.mo_number %></td>
                                <td><%= u.city %></td>
                                <td><%= u.country %></td>
                                <td>
                                  <a href="/userpermission/<%= u._id %>" class="btn btn-lg"><i
                                    class="fa fa-plus"></i></a>
                                    <a href="/editUser/<%= u._id %>"  class="btn btn-lg"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="/viewUserDetail/<%= u._id %>"  class="btn btn-lg"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="/deleteUser/<%= u._id %>"  class="btn btn-lg"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%- include ("partials/footer.ejs") %>
<!-- Apex Chart -->
<script src="js/plugins/apexcharts.min.js"></script>
@<%- include ("partials/footer-bottom-link.ejs") %>
<!-- custom-chart js -->
<script src="js/pages/dashboard-main.js"></script>
</body>
</html>
<script>
  $('#tableID').dataTable({
   "lengthChange": true
 }); 
</script>
