<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <%- include ("partials/head-bottom-link.ejs") %>
            <link rel="stylesheet" href="css/aman.css">
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->

<script src="https://code.jquery.com/jquery-3.6.1.min.js" ></script>


<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("partials/menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Add Permission</h1>
                            </div>
                            <div class="card-body">
                                <form method="post" action=""><br>
                                    <div class="row">
                                        <div class="col-4">
                                            <% if (data) { %>
                                                <% for(var i=0; i < data.length; i++) { %>
                                                    <% var isChecked = '' %>
                                                    <% if(roledata.role_id.toString().includes(roles.toString())){ %>
                                                        <% if(permissionData.includes(data[i]._id.toString())){ %>
                                                           
                                                           <% console.log(permissionData.includes(data[i]._id.toString())) %>
                                                        <% isChecked = 'checked' %>
                                                    <% } else if(datas.includes(data[i]._id.toString())){ %>
                                                        <% isChecked = 'checked' %>
                                                    <% } %>
                                                    <% } %>
                                                    

                                                    <input type="checkbox" id="any" name="permission_id"
                                                        value="<%= data[i]._id %>" <%= isChecked %> >
                                                    <label for="">
                                                        <%= data[i].permission_name %>
                                                    </label><br>
                                                   
                                                        <% } %>
                                                        <% } %>
                                                      

                                                        <!-- <div class="col-4">
                                                            <% if (datas) { %>
                                                                <% for(var i=0; i < datas.length; i++) { %>
                                                                    <script>
                                                                        var aman  = "<%= datas[i].permission_id %>"
                                                                    //    alert(aman)
                                                                        </script>
                                                                    <input type="text" id="" name="permission_id"
                                                                        value="<%= datas[i].permission_id %>">
                                                                    <% } %>
                                                                        <% } %>
                                                            <input type="hidden" class="form-control" name="user_id"
                                                                id="user_id" value="<%= roledata._id%>">
                                                            <input type="hidden" class="form-control" name="role_id"
                                                                id="role_id" value="<%= roledata.role_id%>">

                                        </div> -->
                                        <input type="hidden" class="form-control" name="role_id"
                                                                id="user_id" value="<%= users.role_id%>">
                                                                <input type="hidden" class="form-control" name="user_id"
                                                                id="user_id" value="<%= users._id%>">



                                        <div class="col-12 mt-5">
                                            <button type="submit" name="submit" id="submit"
                                                class="btn btn-primary">Submit</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- [ Main Content ] end -->
            <%- include ("partials/footer.ejs") %>
                <!-- Apex Chart -->
                <script src="js/plugins/apexcharts.min.js"></script>
                @<%- include ("partials/footer-bottom-link.ejs") %>
                    <!-- custom-chart js -->
                    <script src="js/pages/dashboard-main.js"></script>
                    
</body>

</html>