<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <section class="content">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1 class="card-title">Add User Permission</h1>
                                        </div>
                                        <% if(succUser.length> 0) {
                                            %>
                                            <div id="flash-message"
                                                class="alert alert-success font-weight-bold text-center" role="alert">
                                                <span class="text-center">
                                                    <%= succUser %>
                                                </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <% } %>
                                                <h4 class="ml-2">Username:<span class="text-success
                                                     ml-2">
                                                     <%
roledatas.forEach(user => { %>
                                                        <%= user.firstname %>
                                                    </span>
                                                </h4>
                                                <tr>

                                                    <td>
                                                        <% user.roleData.forEach(function(r) { %>
                                                            <h4 class="ml-2">RoleName:<span
                                                                    class="text-danger ml-2">
                                                                    <%= r.role_name %>
                                                                </span>
                                                            </h4>

                                                    </td>
                                   
                                                                        <div class="">
                                                                            <form method="post" action=""><br>
                                                                                <input type="checkbox" id="ckbCheckAll">
                                                                                Select All
                                                                                <div class="col-md-12">

                                                                                    <div class="row border">
                                                                                        <div
                                                                                            class="col-md-2 th text-primary font-weight-bold">
                                                                                            Module Name
                                                                                        </div>
                                                                                        <div
                                                                                            class="col-md-10 text-center text-primary font-weight-bold ">
                                                                                            Permission Name
                                                                                        </div>


                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-12">
                                                                                    <div class="row">
                                                                                        <% var i=1 %>
                                                                                            <% var
                                                                                                moduleName=['Holiday','Employee','Role','Permission','Project','Task','TimeEntr','Setting','Leave','Announcement'];
                                                                                                var finalPermData=[];
                                                                                                var moduleArray=[] %>
                                                                                                <% moduleName.forEach(function(module,index){
                                                                                                    moduleArray[module]=[];
                                                                                                    allPermmission.forEach(function(u,index){
                                                                                                    if(u.permission_name.search(module)>
                                                                                                    -1){
                                                                                                    moduleArray[module].push(u);
                                                                                                    }
                                                                                                    });
                                                                                                    });
                                                                                                    for (const
                                                                                                    [moduleName,
                                                                                                    moduleObject] of
                                                                                                    Object.entries(moduleArray))
                                                                                                    { %>
                                                                                                    <div
                                                                                                        class="col-md-12 mt-1">


                                                                                                        <div
                                                                                                            class="row border">
                                                                                                            <div
                                                                                                                class="col-md-2 test1 ">

                                                                                                                <%= moduleName
                                                                                                                    %>:

                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="col-md-10">
                                                                                                                <div
                                                                                                                    class="row">
                                                                                                                    <% for
                                                                                                                        (const
                                                                                                                        [key,
                                                                                                                        value]
                                                                                                                        of
                                                                                                                        Object.entries(moduleObject))
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <% var
                                                                                                                            isChecked=''
                                                                                                                            %>

                                                                                                                            <% if(existPermissions.includes(value._id.toString())){
                                                                                                                                %>
                                                                                                                                <% isChecked='checked'
                                                                                                                                    %>
                                                                                                                                    <% }
                                                                                                                                        %>
                                                                                                                                        <div
                                                                                                                                            class="col-3">
                                                                                                                                            <input
                                                                                                                                                type="checkbox"
                                                                                                                                                id=""
                                                                                                                                                name="permission_id"
                                                                                                                                                class="checkBoxClass"
                                                                                                                                                value="<%= value._id %>"
                                                                                                                                                <%=isChecked
                                                                                                                                                %>>

                                                                                                                                            <%= value.permission_name
                                                                                                                                                %>
                                                                                                                </div>
                                                                                                                <% } %>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <% } %>
                                                                                                        <input type="hidden"
                                                                                                        class="form-control"
                                                                                                        name="role_id" id="user_id"
                                                                                                        value="<%= r._id%>">
                
                                                                                                    <input type="hidden"
                                                                                                        class="form-control"
                                                                                                        name="user_id" id="user_id"
                                                                                                        value="<%= user._id%>">

                                                                                                        <% }) %>
                                                                                                        <% }) %>

                                                                                                            <div
                                                                                                                class="col-12 mt-5 mb-3">
                                                                                                                <button
                                                                                                                    type="submit"
                                                                                                                    name="submit"
                                                                                                                    id="submit"
                                                                                                                    class="btn btn-primary">Submit</button>
                                                                                                                <a class="btn btn-danger"
                                                                                                                    href="/userListing">Back</a>
                                                                                                            </div>
                                                                                                    </div>
                                                                                    </div>
                                                                                  
                                                                            </form>
                                                                        </div>
                                    </div>
                                </section>
                            </div>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }
    $(document).ready(function () {
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").attr('checked', this.checked);
        });
    });

</script>