<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <%- include ("partials/head-bottom-link.ejs") %>
            <link rel="stylesheet" href="css/aman.css">
</head>
<!-- <link rel="stylesheet" href="styles.css"> -->

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("partials/menu-list.ejs") %>
            <div class="pcoded-main-container">
                <div class="content-wrapper">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                            </div>
                        </div>
                    </div>
                    <section class="content">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Add Permission</h1>
                            </div>
                            <div class="card-body">
                                <form method="post" action=""><br>
                                    <div class="row">
                                        <!-- <div class="col-6">
                                <label for="Name">username: <span class="require">*</span></label>
                                <input type="text" class="form-control" name="role_name" id="username" placeholder="user name" value="">
                            </div> -->
                                        <!-- <div class="form-group">
                                            <label for="skills">Skills:</label><br>
                                            <select class="selectpicker" id="skills" name="skills[]">
                                                <option>N/A</option>
                                                <option>ROR</option>
                                                <option>.NET</option>
                                                <option>PHP</option>
                                                <option>Python Django (ERP)</option>
                                                <option>Mobile Development</option>
                                                <option>Big Data Analytics</option>
                                                <option>Firmware</option>
                                            </select> -->

                                            
                                          
                                        <div class="col-6">
                                            <label for="Name"> Permission Name: <span class="require">*</span></label>
                                            <input type="text" class="form-control" name="role_name" id="username"
                                                placeholder="Enter Permission Name" value="">
                                        </div>

                                        <div class="col-12 mt-5">
                                            <button type="submit" name="submit" id="submit"
                                                class="btn btn-primary">Submit</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- [ Main Content ] end -->
            <%- include ("partials/footer.ejs") %>
                <!-- Apex Chart -->
                <script src="js/plugins/apexcharts.min.js"></script>
                @<%- include ("partials/footer-bottom-link.ejs") %>
                    <!-- custom-chart js -->
                    <script src="js/pages/dashboard-main.js"></script>

                    
                    <!-- <script>

                        $(document).ready(function () {
                            $('.selectpicker').selectpicker();
                            $('#menu3').click();
                            var box1height = $('#menu1').height();
                            // Set box2 height equal to box1
                            $('#sidebar-wrapper').height(box1height * 1.2);
                            for (i = new Date().getFullYear(); i > 1950; i--) {
                                $('#year').append($('<option />').val(i).html(i));
                            }

                        });
                    </script> -->
</body>

</html>