<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Leave Request <%= leaveStatus %> </title>
</head>
<body>

	<h1>Leave Request <%= leaveStatus %></h1>

	<p>Hello <%=username%>,</p>

	<p>Your request for leave from work starting on <%=datefrom%> and ending on <%= dateto %> has been  <%= leaveStatus %>. The reason for the decision is <%= reason %>.</p>

	<p>If your request has been accepted, please make sure to complete any necessary handover or other preparations before you leave. If your request has been rejected, please let us know if there is any way we can assist you in finding alternate arrangements.</p>
	<p>To Check status , please follow the link below: </span></p>

    <button><a href='<%= emaillink %>' target="_blank">Status</span></span></a></button>


	<p>Thank you for your understanding, and please let us know if you have any further questions.</p>

	<p>Best regards,</p>

	<p><%= reportingUsername %></p>

</body>
</html>
