<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Leave Request</title>
</head>
<body>

	<h1>Leave Request</h1>

	<p>Hello  <%= reportingUsername %>,</p>

	<p>I would like to request for a leave from work starting on <b><%= datefrom %></b>,  and ending on <b><%= dateto %></b> . The reason for my leave is <b><%= reason %></b>.</p>

	<p>I have made arrangements for my work to be taken care of in my absence, and I have briefed [colleague's name] on what needs to be done while I'm away. Please let me know if there's anything else I can do to ensure a smooth transition.</p>
<p>To Accept or Reject Leave request , please follow the link below: </span></p>

  <button><a href='<%= emaillink %>' target="_blank">Accept Or Reject Leave</span></span>
  </a></button>
	<p>Thank you for your understanding, and I look forward to returning to work soon.</p>

	<p>Best regards,</p>

	<p> <%= username %> </p>

</body>
</html>
You can customize this template by replacing the placeholders in square brackets with the actual information relevant to your leave request. You can also add your own styling using CSS, if desired.





